%article
  %a{ :name => "#{speaker.anchor}" }
  %figure
    = image_tag speaker.homepage_image_path, alt: "#{speaker.name}" if speaker.homepage_image_path.present?
  .bio
    %hgroup
      %h1= speaker.name
    %p= speaker.bio

  %aside
    %dl
      - if speaker.has_website?
        %dt.website Website:
        %dd= link_to "#{speaker.website_name}", "#{speaker.website_url}"

