%article
  %a{ :name => "#{speaker.anchor}" }
  %figure
    = image_tag speaker.homepage_image_path, alt: "#{speaker.name}" if speaker.homepage_image_path.present?
  .bio
    %hgroup
      %h1= speaker.name
    %p= speaker.bio

  %aside
    %dl
      - if speaker.twitter.present?
        %dt.twitter Twitter:
        %dd= link_to "@#{speaker.twitter}", "http://twitter.com/#{speaker.twitter}"
      - if speaker.has_website?
        %dt.website Website:
        %dd= link_to "#{speaker.website_url}", "#{speaker.website_name}"
      - if speaker.company_name.present?
        %dt.company Company:
        %dd= link_to_unless speaker.company_url.nil?, "#{speaker.company_name}", "#{speaker.company_url}"

