%section#sponsors
  %h1 Sponsors
  %ul
    %li
      .level
        = link_to image_tag("logo_getty_images.png", alt: "Getty Images"), "http://www.gettyimages.com", :target => "_blank"
        = link_to image_tag("logo_engine-yard.png", alt: "Engine Yard"), "http://www.engineyard.com", :target => "_blank"
    %li
      .level
        = link_to image_tag("logo_tropo.png", alt: "Tropo"), "http://www.tropo.com/"
    %li
      .level
        = link_to image_tag("logo_relevance.png", alt: "Relevance"), "http://www.thinkrelevance.com", :target => "_blank"
        = link_to image_tag("logo_harvest.jpg", alt: "Harvest"), "http://www.getharvest.com", :target => "_blank"
        = link_to image_tag("logo_bendyworks.png", alt: "Bendyworks"), "http://www.bendyworks.com/"
        = link_to image_tag("logo_newrelic.png", alt: "New Relic"), "http://www.newrelic.com", :target => "_blank"
    %li
      .level
        = link_to image_tag("logo_zencoder.png", alt: "Zencoder"), "http://www.zencoder.com", :target => "_blank"
    %li
      .level
        = link_to image_tag("logo_peepcode.png", alt: "PeepCode Screencasts"), "http://www.peepcode.com", :target => "_blank"
        = link_to image_tag("logo_stickermule.png", alt: "Sticker Mule"), "http://www.stickermule.com", :target => "_blank"
