%section#intro
  %article
    %p Madison Ruby Conference is a more than one track conference committed to bringing together two great communities.  The conference will showcase to locals the assets of the Ruby community and allow visitors to Madison a chance to experience one of the best, brainiest, and least expensive places in the US to live and work.
    %p= link_to "Register Now ▸", "http://madisonruby.chirrpy.com", class: "more"
  %article.speakers
    %header
      %h1 Our Speakers
      = link_to "View All ▸", speakers_path, class: "more"
    %ul
      -# %li
        -# %small Keynote speaker
        -# = link_to image_tag("img_homepage-mystery_speaker-fixed.jpg", alt: "Speaker name"), "#"
      %li= link_to image_tag("img_homepage-jeff_casimir.jpg", alt: "Jeff Casimir"), "/speakers#jeff_casimir"
      %li= link_to image_tag("funtitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("muntitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("funtitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("muntitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("funtitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("muntitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("funtitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("muntitled.png", alt: "Speaker name"), "#"
      %li= link_to image_tag("funtitled.png", alt: "Speaker name"), "#"

%section#workshops
  %h1 Our Workshops
  %p Don't know Ruby or related technologies? Get a jumpstart just before the conference with world-class workshops by leaders in the community. These one day classes will give you to tools and connections you need to get started or get to the next level.
  %article
    = image_tag "img_scottchacon.jpg", alt: "Scott Chacon: Working Effectively with Git"
    %h1 Working Effectively With Git
    %p Scott Chacon is a Git evangelist and developer working at GitHub.com. He is the author of the Pro Git book by Apress (progit.org), the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at LinuxConf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails and a number of local groups and has done corporate training on Git across the country.
  -# %article
    -# = image_tag "img_workshop.jpg", alt: "Workshop presenter"
    -# %h1 Ruby on Rails 3 Tutorial Workshop
    -# %p Michael Hartl is the author and presenter of the Ruby on Rails Tutorial book and screencast series, coauthor of RailsSpace, and cofounder of Insoshi, a popular Rails social networking platform. He is also the founder of Tau Day and author of The Tau Manifesto. Previously, he taught theoretical and computational physics at the California Institute of Technology (Caltech), where he received the Lifetime Achievement Award for Excellence in Teaching. Michael is a graduate of Harvard College, has a Ph.D. in Physics from Caltech, and is an alumnus of the Y Combinator entrepreneur program.
%section#sidebar
  %article
    %h1 Killer After Party!
    %p When surveyed the locals had many suggestions for making putting on a great event but, there was one unanimous suggestion: A Killer After-Party.  We listened. We are putting together an epic  bash to celebrate the success of our inaugural event.
    -# %p= link_to "View More ▸", "#", class: "more"
  -# %article
    -# %h1 Overheard
    -# %ul
      -# - 3.times do
        -# %li{ class: cycle("", "", "last") }
          -# %p
            -# Our friends
            -# = link_to "@harvest", "#"
            -# just shipped a simple wrapper from Sphinx called Thebes:
            -# = link_to "http://vurl.me/asdjfif", "#"
          -# %p.meta== 3 hours ago | #{link_to "Reply", "#"}

%section#sponsors
  %h1 Sponsors
  %ul
    .level
      %li= link_to image_tag("logo_getty_images.png", alt: "Getty Images"), "http://www.gettyimages.com", :target => "_blank"
    .level
      %li= link_to image_tag("logo_relevance.png", alt: "Relevance"), "http://www.thinkrelevance.com", :target => "_blank"
    .level
      %li= link_to image_tag("logo_zencoder.png", alt: "Zencoder"), "http://www.zencoder.com", :target => "_blank"
    .level
      %li= link_to image_tag("logo_peepcode.png", alt: "PeepCode Screencasts"), "http://www.peepcode.com", :target => "_blank"
    -# %li= link_to image_tag("logo_frontier-group.gif", alt: "The Frontier Group"), "http://www.thefrontiergroup.com.au/"
