- content_for :page_title do
  Madison Ruby Conference - Aug 18-20, 2011 - Madison, WI

- content_for :head do
  :javascript
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "madisonruby";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";

    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);


%section#intro
  %article
    %p Madison Ruby Conference is a more than one track conference committed to bringing together two great communities.  The conference will showcase to locals the assets of the Ruby community and allow visitors to Madison a chance to experience one of the best, brainiest, and least expensive places in the US to live and work.
    %p= link_to "Register Now ▸", "http://madisonruby.chirrpy.com", class: "more"
  %article.speakers
    %header
      %h1 Our Speakers
      = link_to "View All ▸", speakers_path, class: "more"
    %ul
      -# %li
        -# %small Keynote speaker
        -# = link_to image_tag("img_homepage-mystery_speaker-fixed.jpg", alt: "Speaker name"), "#"
      -# %li= link_to image_tag("img_homepage-jeff_casimir.jpg", alt: "Jeff Casimir"), "/speakers#jeff_casimir"
      -# %li= link_to image_tag("img_homepage-bryan_liles.jpg", alt: "Bryan Liles"), "/speakers#bryan_liles"
      -# %li= link_to image_tag("img_homepage-jacqui_cox.jpg", alt: "Jacqui Cox"), "/speakers#jacqui_cox"
      -# %li= link_to image_tag("img_homepage-chad_pytel.jpg", alt: "Chad Pytel"), "/speakers#chad_pytel"
      -# %li= link_to image_tag("img_homepage-jessie_shternshus.jpg", alt: "Jessie Shternshus"), "/speakers#jessie_shternshus"
      -# %li= link_to image_tag("img_homepage-matt_yoho.jpg", alt: "Matt Yoho"), "/speakers#matt_yoho"
      -# %li= link_to image_tag("img_homepage-barry_hess.jpg", alt: "Barry Hess"), "/speakers#barry_hess"
      -# %li= link_to image_tag("img_homepage-meghann_millard.jpg", alt: "Meghann Millard"), "/speakers#meghann_millard"
      -# %li= link_to image_tag("img_homepage-matt_margolis.jpg", alt: "Matt Margolis"), "/speakers#matt_margolis"
      -# %li= link_to image_tag("img_homepage-giles_bowkett.jpg", alt: "Giles Bowkett"), "/speakers#giles_bowkett"
      -# %li= link_to image_tag("img_homepage-dave_copeland.jpg", alt: "Dave Copeland"), "/speakers#dave_copeland"
      %li= link_to image_tag("img_homepage-dan_melnick.jpg", alt: "Dan Melnick"), "/speakers#dan_melnick"
      %li= link_to image_tag("img_homepage-scott_parker.jpg", alt: "Scott Parker"), "/speakers#scott_parker"
      %li= link_to image_tag("img_homepage-gerred_dillon.png", alt: "Gerred Dillon"), "/speakers#gerred_dillon"
      %li= link_to image_tag("img_homepage-lori_olson.jpg", alt: "Lori Olson"), "/speakers#lori_olson"
      %li= link_to image_tag("img_homepage-renee_de_voursney.jpg", alt: "Renée De Voursney"), "/speakers#renee_de_voursney"
      %li= link_to image_tag("img_homepage-stephen_caudill.jpg", alt: "Stephen Caudill"), "/speakers#stephen_caudill"
      %li= link_to image_tag("img_homepage-brian_hogan.jpg", alt: "Brian P. Hogan"), "/speakers#brian_hogan"
      %li= link_to image_tag("img_homepage-tim_connor.jpg", alt: "Tim Connor"), "/speakers#tim_connor"
      %li= link_to image_tag("img_homepage-collin_schaafsma.png", alt: "Collin Schaafsma"), "/speakers#collin_schaafsma"
      %li= link_to image_tag("img_homepage-jina_bolton.jpg", alt: "Jina Bolton"), "/speakers#jina_bolton"

%section#workshops
  %h1 Our Workshops
  %p Need to brush up on Ruby or related technologies? Get a jumpstart just before the conference with world-class workshops by leaders in the community. These one day classes will give you to tools and connections you need to get started or get to the next level. Classes will run from 9:00 AM to 5:30 PM and lunch will be provided.
  %article
    = image_tag "img_scottchacon.jpg", alt: "Scott Chacon: Working Effectively with Git"
    %h1 Working Effectively With Git
    %p Scott Chacon is a Git evangelist and developer working at GitHub.com. He is the author of the Pro Git book by Apress (progit.org), the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at LinuxConf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails and a number of local groups and has done corporate training on Git across the country.
  %article
    = image_tag "img_workshop-stephen_anderson.png", alt: "Stephen Anderson"
    %h1 Ruby on Rails 3 Workshop
    %p Steve has been pursuing software quality and value since 1992. This has lead him to Ruby, Rails, Behavior Driven Development, Continuous Integration, Extreme Programming, Software Craftsmanship, mentoring, teaching and founding Bendyworks. He began Madison's first Ruby club in 2005 and has been sharing his knowledge of Rails since 2008 with students at Madison College.

%section#sidebar
  %article
    %h1 Killer After Party!
    %p When surveyed the locals had many suggestions for putting on a great event but, there was one unanimous suggestion: A Killer After-Party.  We listened. We are putting together an epic  bash to celebrate the success of our inaugural event.
    -# %p= link_to "View More ▸", "#", class: "more"
  %article
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMadison-Ruby%2F115398258538061&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
  -# %article
    -# %h1 Overheard
    -# %ul
      -# - 3.times do
        -# %li{ class: cycle("", "", "last") }
          -# %p
            -# Our friends
            -# = link_to "@harvest", "#"
            -# just shipped a simple wrapper from Sphinx called Thebes:
            -# = link_to "http://vurl.me/asdjfif", "#"
          -# %p.meta== 3 hours ago | #{link_to "Reply", "#"}

= render :partial => 'sponsors'
