- content_for :page_title do
  Madison Ruby Conference - Aug 23-25, 2012 - Madison, WI

- content_for :head do
  = render :partial => 'get_satisfaction'

%section#intro
  %article
    %p Madison Ruby Conference is a more than one track conference committed to bringing together two great communities.  The conference will showcase to locals the assets of the Ruby community and allow visitors to Madison a chance to experience one of the best, brainiest, and least expensive places in the US to live and work.
    %p= link_to "Register Now ▸", register_path, class: "more"
  %article.speakers
    %header
      %h1 Our Speakers
      = link_to "View All ▸", speakers_path, class: "more"

    %ul
      - @speakers.each do |speaker|
        %li= link_to image_tag("#{speaker.homepage_image_path}", alt: speaker.name), speakers_path(anchor: speaker.anchor)

%section#workshops
  %h1 Our Workshops
  %p Need to brush up on Ruby or related technologies? Get a jumpstart just before the conference with world-class workshops by leaders in the community. These one day classes will give you to tools and connections you need to get started or get to the next level. Classes will run from 9:00 AM to 5:30 PM and lunch will be provided.

  %article
    = image_tag "logo_github.png", alt: "GitHub: Advanced Git"
    %h1 Advanced Git with Matthew McCullough
    %p This full day Git workshop takes you beyond the basic edit, add, and commit workflow to deep Git features that benefit developers appreciative of what Git's flexible DVCS model brings to hard-core software development. You'll learn how to harvest and inspect commit-specific merges, leverage interactive rebase, and search through history with precision and speed. Tags, GPG signatures, and other cryptographic integrity features will become clear, and pushing and pulling will be controlled with newfound precision.

    %p This workshop requires attendees to have basic to intermediate level familiarity with Git.

  %article
    = image_tag "logo_railsbridge.png", alt: "RailsBridge"
    %h1 RailsBridge Womens Outreach Workshop
    %p The target audience is anyone who has a laptop computer and is willing to devote a Wednesday evening and full day on Thursday to learning how to develop a web application using the popular Ruby on Rails framework. Most attendees are programmers who are looking to update their skills — some are unemployed, some are hoping to leave their current jobs and others just want to keep their skills sharp and understand the latest technology.

    %p Although not exclusively for women, volunteers like Desi McAdam focus their workshops on outreach to women in order to create gender diversity in the tech community.

    %p
      Registration for this free workshop has not yet opened. Please join the
      = link_to "Mad-Railers", "http://www.meetup.com/Mad-Railers/"
      group for more updates.

  %article
    = image_tag "logo_jumpstart_lab.png", alt: "Ruby Jumpstart"
    %h1 Introduction to Ruby with Jeff Casimir

    %p If you’re looking for your first introduction to programming this is the course for you. You’ll jump right in write code. The Level 1 course is an introduction to Ruby, data structures, flow control, conditions, basic I/O, and manipulating data. No prior programming experience is necessary.

    %p We'll work on an "Extract-Translate-Load" (ETL) project, starting with a file full of spreadsheet data, manipulating individual elements, generating form letters, and looking up Congressional district data via a web-based API.

  %article
    = image_tag "logo_wynn_adam.png", alt: "Wynn Netherland & Adam Stacoviak"
    %h1 Design Eye for The Dev Guy or Gal
    %ul
      %li Part 1: Objectifying design
      %li Part 2: Dive into CSS3 and HTML5
      %li Part 3: Introducing Sass
      %li Part 4: Putting it all together with Compass

%section#sidebar
  %article
    %h1 Killer After-Party!
    %p When surveyed, the locals had many suggestions for putting on a great event but, there was one unanimous suggestion: A Killer After-Party.  We listened. We are putting together an epic  bash to celebrate the success of this event.  The after-party will be held at the rooftop sculpture garden of the Musuem of Contemporary Art.  The soundtrack will be provided by a mix of local musicians from the Madison and Ruby communities.
    -# %p= link_to "View More ▸", "#", class: "more"
  %article
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMadison-Ruby%2F115398258538061&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
  %article
    %h1 Overheard
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '@madisonruby',
        interval: 6000,
        title: '',
        subject: 'Overheard',
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#a60e13'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#a60e13'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          toptweets: true,
          behavior: 'all'
        }
      }).render().start();

%section#workshops
  %h1 Our Venue
  = link_to(image_tag("overture-logo-475px.png", alt: "Overture Center for the Arts"), 'http://www.overturecenter.com')
  %p In 1998, local businessman W. Jerome Frautschi made a breathtaking, multimillion dollar commitment for the development of a cultural arts district in downtown Madison. The Overture Foundation was established to solve the space needs of the city's major arts organizations, and internationally famous architect Cesar Pelli designed the project.

  %p
    Madison Ruby is taking over this venue for three days.  Using everything from breakout rooms, such as
    = link_to 'Rotunda Studio', 'http://www.overturecenter.com/about/venues/rotunda-studio'
    and
    = link_to 'Wisconsin Studio', 'http://www.overturecenter.com/about/venues/wisconsin-studio'
    to the three-hundred and fifty seat
    = link_to 'Playhouse Theater', 'http://www.overturecenter.com/about/venues/the-playhouse'
    we have a visually striking environment to inspire and engergize our attendees.

%section#sidebar
  %article
    %h1 How To Get Here
    %p
      Overture Center for the Arts
      %br/
      201 State Street, Madison, WI
    <iframe width="325" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=201+State+Street,+Madison,+WI&amp;aq=2&amp;sll=37.0625,-95.677068&amp;sspn=55.806079,63.984375&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=h&amp;z=14&amp;ll=43.074727,-89.388088&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+State+Street,+Madison,+WI&amp;aq=2&amp;sll=37.0625,-95.677068&amp;sspn=55.806079,63.984375&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=h&amp;z=14&amp;ll=43.074727,-89.388088" style="color:#0000FF;text-align:left">View Larger Map</a></small>

= render :partial => 'sponsors'
