- content_for :page_title do
  Madison Ruby Conference - Aug 18-20, 2011 - Madison, WI

- content_for :head do
  :javascript
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "madisonruby";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";

    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);


%section#intro
  %article
    %p Madison Ruby Conference is a more than one track conference committed to bringing together two great communities.  The conference will showcase to locals the assets of the Ruby community and allow visitors to Madison a chance to experience one of the best, brainiest, and least expensive places in the US to live and work.
    %p= link_to "Register Now ▸", "http://madisonruby.chirrpy.com", class: "more"
  %article.speakers
    %header
      %h1 Our Speakers
      = link_to "View All ▸", speakers_path, class: "more"
    %ul
      - random_speakers(10).each do |speaker|
        %li= link_to image_tag(speaker[0], alt: speaker[1]), speaker[2]

%section#workshops
  %h1 Our Workshops
  %p Need to brush up on Ruby or related technologies? Get a jumpstart just before the conference with world-class workshops by leaders in the community. These one day classes will give you to tools and connections you need to get started or get to the next level. Classes will run from 9:00 AM to 5:30 PM and lunch will be provided.
  %article
    = image_tag "img_scottchacon.jpg", alt: "Scott Chacon: Working Effectively with Git"
    %h1 Working Effectively With Git
    %p Scott Chacon is a Git evangelist and developer working at GitHub.com. He is the author of the Pro Git book by Apress (progit.org), the Git Internals Peepcode PDF as well as the maintainer of the Git homepage (git-scm.com) and the Git Community Book. Scott has presented at LinuxConf.au, OSCON, RuPy, Symfony Live, Ruby Kaigi, RailsConf, RubyConf, Scotland on Rails and a number of local groups and has done corporate training on Git across the country.
  %article
    = image_tag "logo_railsbridge.png", alt: "RailsBridge"
    %h1 RailsBridge Womens Outreach Workshop
    %p The target audience is anyone who has a laptop computer and is willing to devote a Wednesday evening and full day on Thursday to learning how to develop a web application using the popular Ruby on Rails framework. Most attendees are programmers who are looking to update their skills — some are unemployed, some are hoping to leave their current jobs and others just want to keep their skills sharp and understand the latest technology.

    %p Although not exclusively for women, volunteers like Desi McAdam focus their workshops on outreach to women in order to create gender diversity in the tech community.

%section#sidebar
  %article
    %h1 Killer After Party!
    %p When surveyed the locals had many suggestions for putting on a great event but, there was one unanimous suggestion: A Killer After-Party.  We listened. We are putting together an epic  bash to celebrate the success of our inaugural event.
    -# %p= link_to "View More ▸", "#", class: "more"
  %article
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMadison-Ruby%2F115398258538061&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
  %article
    %h1 Overheard
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '@madisonruby',
        interval: 6000,
        title: '',
        subject: 'Overheard',
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#a60e13'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#a60e13'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          toptweets: true,
          behavior: 'all'
        }
      }).render().start();

%section#workshops
  %h1 Our Venue
  = link_to(image_tag("overture-logo-475px.png", alt: "Overture Center for the Arts"), 'http://www.overturecenter.com')
  %p In 1998, local businessman W. Jerome Frautschi made a breathtaking, multimillion dollar commitment for the development of a cultural arts district in downtown Madison. The Overture Foundation was established to solve the space needs of the city's major arts organizations, and internationally famous architect Cesar Pelli designed the project.

  %p
    Madison Ruby is taking over this venue for three days.  Using everything from breakout rooms, such as
    = link_to 'Rotunda Studio', 'http://www.overturecenter.com/about/venues/rotunda-studio'
    and
    = link_to 'Wisconsin Studio', 'http://www.overturecenter.com/about/venues/wisconsin-studio'
    to the three-hundred and fifty seat
    = link_to 'Playhouse Theater', 'http://www.overturecenter.com/about/venues/the-playhouse'
    we have a visually striking environment to inspire and engergize our attendees.

%section#sidebar
  %article
    %h1 How To Get Here
    %p
      Overture Center for the Arts
      %br/
      201 State Street, Madison, WI
    <iframe width="325" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=201+State+Street,+Madison,+WI&amp;aq=2&amp;sll=37.0625,-95.677068&amp;sspn=55.806079,63.984375&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=h&amp;z=14&amp;ll=43.074727,-89.388088&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+State+Street,+Madison,+WI&amp;aq=2&amp;sll=37.0625,-95.677068&amp;sspn=55.806079,63.984375&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=h&amp;z=14&amp;ll=43.074727,-89.388088" style="color:#0000FF;text-align:left">View Larger Map</a></small>

= render :partial => 'sponsors'
