- content_for :page_title do
  Schedule - Don't Miss Anything - August 18-20, 2011 - Madison, WI

%section#schedule
  %h1 Our Schedule

  %h2 Friday, August 19, 2011
  %table{ :cellspacing => 0}
    %thead
      %tr
        %th &nbsp;
        %th
          %h3 Playhouse
        %th
          %h3 Wisconsin Studio

    %tr
      %td.slot 8:00 - 8:45AM
      %td.plenary{ colspan: '2' }
        Registration &amp; Coffee Social

    %tr
      %td.slot 8:45 - 9:30AM
      %td.plenary{ colspan: '2' }
        Opening Address / Announcements
        .name
          Jim Remsik &amp; Robert Pitts

    %tr
      %td.slot 9:30 - 10:15AM
      %td.plenary{ colspan: '2' }
        = link_to "Jessie Shternshus", speakers_path(anchor: 'jessie_shternshus')
        , The Improv Effect

    %tr
      %td.slot 10:15 - 10:30AM
      %td.plenary{ colspan: '2' }
        A Convenient Truth (How To Configure Your Environment)
        .name
          = link_to "Rogelio Samour", speakers_path(anchor: 'rogelio_samour')

    %tr
      %td.slot 10:30 - 10:45AM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 10:30 - 11:00AM
      %td.talk
        MINSWAN
        .name
          = link_to "Bryan Liles", speakers_path(anchor: 'bryan_liles')
      %td.talk.studio
        "Free Whiskey"
        .name
          = link_to "Rick Bradley", speakers_path(anchor: 'rick_bradley')
          , O. G. Consulting

    %tr
      %td.slot 11:00 - 11:30AM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 10:30 - 11:00AM
      %td.talk
        When Routine Bites Hard a.k.a
        %br/
        Language Will Tear Us Apart, Again.
        .name
          = link_to 'Meghann Millard', speakers_path(anchor: 'meghann_millard')
          , Unspace Interactive
      %td.talk.studio
        Tip of the Skinny Iceberg
        .name
          = link_to "Stephen Caudill", speakers_path(anchor: 'stephen_caudill')
          , Hashrocket

    %tr
      %td.slot 12:00 - 1:30PM
      %td.plenary{ colspan: '2' }
        Lunch - Exploring Madison on Engine Yard's dime

    %tr
      %td.slot 1:30 - 2:00PM
      %td.talk
        Re-imagining Rails Messaging
        .name
          Gerred Dillon
      %td.talk.studio
        Making Awesome Command Line Apps in Ruby
        .name
          = link_to "Dave Copeland", speakers_path(anchor: 'dave_copeland')
          , OPOWER

    %tr
      %td.slot 2:00 - 2:10PM
      %td.plenary{ colspan: '2' }
        Tips for healthy sitting / Stretching (Optional)

    %tr
      %td.slot 2:10 - 2:30PM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 2:30 - 3:00PM
      %td.talk
        "Life On My Home Planet."
        .name
          = link_to "Giles Bowkett", speakers_path(anchor: 'giles_bowkett')
      %td.talk.studio
        "I'm mad as hell, and I'm not going to take this anymore!", Strategies for Coping in Chaos
        .name
          = link_to "Jacqui Cox", speakers_path(anchor: 'jacqui_cox')
          , NY Times

    %tr
      %td.slot 3:00 - 3:30PM
      %td.plenary{ colspan: '2' }
        Coffee / Snack Break

    %tr
      %td.slot 3:30 - 4:00PM
      %td.talk
        jQuery Mobile on Rails
        .name
          = link_to "Chad Pytel", speakers_path(anchor: 'chad_pytel')
          , Thoughtbot
      %td.talk.studio
        Scripting Vim with Ruby
        .name
          = link_to "Matt Margolis", speakers_path(anchor: 'matt_margolis')
          , Getty Images

    %tr
      %td.slot 4:15 - 5:45PM
      %td.talk.plenary{ colspan: '2' }
        %p Local Flavor: Madison-area non-technical craftspeople sharing their passion
        %ul
          %li.name
            Gail Ambrosius - Master Choclatier,
            = link_to "Gail Ambrosius", 'http://gailambrosius.com/'
          %li.name
            Rob Lobreglio - Brewmaster,
            = link_to "Great Dane Pub & Brewery", 'http://www.greatdanepub.com/'
          %li.name Cheesemaker - TBA


    %tr
      %td.slot 5:45 - 6:15PM
      %td.talk.plenary{ colspan: '2' }
        Lightning Talks

    %tr
      %td.slot 6:15 - 6:30PM
      %td.plenary{ colspan: '2' }
        End of day announcements
        .name
          Jim Remsik &amp; Robert Pitts

  %h2 Saturday, August 20, 2011
  %table{ :cellspacing => 0}
    %thead
      %tr
        %th &nbsp;
        %th
          %h3 Playhouse
        %th
          %h3 Wisconsin Studio

    %tr
      %td.slot 9:00 - 10:30AM
      %td.plenary{ colspan: '2' }
        Coffee

    %tr
      %td.slot 9:15 - 10:15AM
      %td.talk.plenary{ colspan: '2' }
        Growing a Software as a Service Application Panel
        .name
          = link_to "Barry Hess", speakers_path(anchor: 'barry_hess')
          , Harvest / 
          = link_to "Jason McCay", speakers_path(anchor: 'jason_mccay')
          , MongoHQ / Chris Mathieu, Tropo - Moderated by Steven Bristol

    %tr
      %td.slot 10:15 - 10:30AM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 10:30 - 11:00AM
      %td.talk
        Literate Code
        .name
          = link_to "Steve Klabnik", speakers_path(anchor: 'steve_klabnik')
      %td.talk.studio
        "Consultants &amp; Rockstars, Who needs 'em"
        .name
          = link_to "Lori Olson", speakers_path(anchor: 'lori_olson')

    %tr
      %td.slot 11:00 - 11:20AM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 11:20 - 11:30AM
      %td.plenary{ colspan: '2'} Stretching

    %tr
      %td.slot 11:30 - 12:00PM
      %td.talk
        "Have Fun the Rong Way"
        .name
          Matt Yoho
      %td.talk.studio
        Blow Up Your Views
        .name
          Jeff Casimir

    %tr
      %td.slot 12:00 - 1:30PM
      %td.plenary{ colspan: '2' }
        Lunch on Engine Yard

    %tr
      %td.slot 1:30 - 2:00PM
      %td.talk
        "Building the Great Wall: API Driven Applications"
        .name
          Dan Melnick &amp; Scott Parker
      %td.talk.studio
        "MongoMapper Migrations - Handling Changes With No Schema"
        .name
          Tim Connor

    %tr
      %td.slot 2:00 - 2:30PM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 2:30 - 3:00PM
      %td.talk
        "Whose Wife Are You?"
        .name
          Renée Devoursney
      %td.talk.studio
        "Kick Your Project in the Mouth"
        .name
          Collin Schaafsma

    %tr
      %td.slot 3:00 - 3:30PM
      %td.plenary{ colspan: '2' }
        Coffee Break

    %tr
      %td.slot 3:30 - 4:00PM
      %td.talk
        "Who, What, Where, When, Why, and How to Test"
        .name
          Jon Larkowski
      %td.talk.studio
        "Creating RubyGems from Scratch"
        .name
          Brian Hogan

    %tr
      %td.slot 4:00 - 4:30PM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 4:30 - 5:00PM
      %td.talk
        What Makes JRuby Different?
        .name
          Charlie Nutter
      %td.talk.studio
        "CSS Workflow With Sass"
        .name
          Jina Bolton

    %tr
      %td.slot 5:00 - 5:15PM
      %td.plenary{ colspan: '2' }
        Break

    %tr
      %td.slot 5:15 - 6:15PM
      %td.talk.plenary{ colspan: '2' }
        Testing Panel
        .name
          TBA

    %tr
      %td.slot 6:15 - 6:30PM
      %td.plenary{ colspan: '2' }
        End of day announcements
        .name
          Jim Remsik &amp; Robert Pitts
= render :partial => 'sponsors'
