- content_for :page_title do
  Speakers - Join The Conversation - August 18-20, 2011 - Madison, WI

%section#speakers
  %h1 Our Speakers
  %article
    %a{ :name => 'jeff_casimir' }
    %figure
      = image_tag "img_jeff_casimir.jpg", alt: "Jeff Casimir"
    .bio
      %hgroup
        %h1 Jeff Casimir
        %p Jeff runs Jumpstart Lab where he teaches the best Ruby and Rails classes on Earth.  He formerly taught public middle school and high school in his hometown of Washington, DC.  Now he turns "normal people" into developers, and helps existing developers up their skills.  He has not, yet, figured out how to convert developers into normal people.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Jumpstart Lab", "http://jumpstartlab.com/"
        %dt.twitter Twitter:
        %dd= link_to "@j3", "http://twitter.com/j3"
        %dt.website Website:
        %dd= link_to "http://jumpstartlab.com", "http://jumpstartlab.com"

  %article
    %a{ :name => 'bryan_liles' }
    %figure
      = image_tag "img_bryan_liles.jpg", alt: "Bryan Liles"
    .bio
      %hgroup
        %h1 Bryan Liles
        %p Bryan does a myriad of Ruby related tasks for his daytime job in a quaint little town near Baltimore, Maryland. No, that isn't right. Bryan Liles is Greatest Man Alive! He hacks mad ruby. He trolls twitter. He is looking for the good fight.

        %p
          He hasn't written any books, and doesn't maintain any major open source projects. Most of his time is spent helping others level up their awesomeness; trying to cause chaos with writings on his blog at
          = link_to "http://smartic.us", "http://smartic.us"
          (I know you've heard of Smarticus); or just being a great dad and husband.

        %p Some came to lead. Some come to be lead. Bryan comes to smash the status quo.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@bryanl", "http://twitter.com/bryanl"
        %dt.website Website:
        %dd= link_to "http://smartic.us", "http://smartic.us"


  %article
    %a{ :name => 'jacqui_cox' }
    %figure
      = image_tag "img_jacqui_cox.png", alt: "Jacqui Cox"
    .bio
      %hgroup
        %h1 Jacqui Cox
        %p Jacqui is part of the Interactive News Technologies team at The New York Times. A group of  developer/journalists based in the newsroom, they work on projects that present and deliver the news in innovative and useful ways. A native of NYC, working for the paper has been one of her dreams for a long time. She's just thankful that she didn't have to start in the mail room.

        %p An active member of the Ruby community for several years, Jacqui contributes to many open source projects. She has a love of travel and adventure and might be found climbing one of the Seven Summits.


    %aside
      %dl
        %dt.company Company:
        %dd= link_to "NY Times", "http://nytimes.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jacqui", "http://twitter.com/jacqui"
        %dt.website Website:
        %dd= link_to "http://brighter.net", "http://brighter.net"

  %article
    %a{ :name => 'lori_olson' }
    %figure
      = image_tag "img_lori_olson.jpg", alt: "Lori Olson"
    .bio
      %hgroup
        %h1 Lori Olson
        %p Five years ago Lori tried Ruby/Rails as an alternative to Java development and "has never looked back!" She has been delivering Rails applications in the oil & gas industry for the last five years, working for companies like Labrador Technologies, CodeGear/Borland, and Intellog.

        %p Lori has a long list of speaking credits. Most recently, she spoke at Conferencia Rails 2010 in Madrid and RailsConf 2009 in Las Vegas. She has also presented at the CodeRage and COSSFEST conferences, and presents frequently to the Calgary Ruby User Society, of which she is also a co-founder.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@wndxlori", "http://twitter.com/wndxlori"
        %dt.website Website:
        %dd= link_to "http://wndx.posterous.com", "http://wndx.posterous.com"

  %article
    %a{ :name => 'chad_pytel' }
    %figure
      = image_tag "img_chad_pytel.jpg", alt: "Chad Pytel"
    .bio
      %hgroup
        %h1 Chad Pytel
        %p Chad Pytel is founder and CEO of thoughtbot, inc. a Ruby on Rails consulting firm and the creators of popular plugins like paperclip, factory_girl, shoulda, and well as their own products Hoptoad, Trajectory, and Copycopter.
        %p Chad is the author of Rails AntiPatterns and Pro Active Record, and has spoken at numerous conferences around the world. He lives in Newton, MA with his wife and two children.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Thoughtbot", "http://www.thoughtbot.com"
        %dt.twitter Twitter:
        %dd= link_to "@cpytel", "http://twitter.com/cpytel"
        %dt.website Website:
        %dd= link_to "http://chadpytel.com/", "http://chadpytel.com/"

  %article
    %a{ :name => 'jessie_shternshus' }
    %figure
      = image_tag "img_jessie_shternshus.jpg", alt: "Jessie Shternshus"
    .bio
      %hgroup
        %h1 Jessie Shternshus
        %p As the founder and owner of The IMPROV EFFECT, Jessie weds her lifelong passion for, and expertise in, improvisational acting with the fast paced demands of the corporate world. In her classes and workshops she helps people become better listeners, team players, leaders, and communicators. Her physically engaging and playful workshops are relevant to all fields of life; participants of her workshops vary from college professors to engineers and from web developers to lawyers.

        %p Jessie gained her formal education at USF and NYU.  Throughout her career she has worked with companies such as CBS, Paramount Pictures, MTV and Sesame Workshop.  She facilitates communication skills workshops and speaks at national and international conferences.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "The Improv Effect", "http://www.improveffect.com/"
        %dt.twitter Twitter:
        %dd= link_to "@theimproveffect", "http://twitter.com/theimproveffect"
        %dt.website Website:
        %dd= link_to "http://www.improveffect.com/", "http://www.improveffect.com/"

  %article
    %a{ :name => 'matt_yoho' }
    %figure
      = image_tag "img_matt_yoho.jpg", alt: "Matt Yoho"
    .bio
      %hgroup
        %h1 Matt Yoho
        %p Matt Yoho is a developer and agile enthusiast with a love for Ruby and the web who works for EdgeCase in Columbus, OH. He is a supporter of the software craftsmanship movement and is the apprenticeship coordinator at EdgeCase. He likes comic books, karaoke, free software, and sweet potato fries. He is one fairly hep cat.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "EdgeCase", "http://www.edgecase.com/"
        %dt.twitter Twitter:
        %dd= link_to "@mattyoho", "http://twitter.com/mattyoho"
        %dt.website Website:
        %dd= link_to "http://blog.mattyoho.com/", "http://blog.mattyoho.com/"

  %article
    %a{ :name => 'barry_hess' }
    %figure
      = image_tag "img_barry_hess.jpg", alt: "Barry Hess"
    .bio
      %hgroup
        %h1 Barry Hess
        %p Barry is part of an elite team of time tracking warriors at Harvest. He spent seven years mired in enterprise before Ruby slapped him in the face like a jilted lover. Now he likes to spend his time discussing distributed teamwork, small team to not-quite-as-small team growing pains, and sweet, sweet code.

        %p Barry created a blog so he would have writing credits. He has used your open source software. He lives in rural Minnesota with his wife and three daughters.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Harvest", "http://www.getharvest.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bjhess", "http://twitter.com/bjhess"
        %dt.website Website:
        %dd= link_to "http://bjhess.com/", "http://bjhess.com/"

  %article
    %a{ :name => 'meghann_millard' }
    %figure
      = image_tag "img_meghann_millard.jpg", alt: "Meghann Millard"
    .bio
      %hgroup
        %h1 Meghann Millard
        %p Meghann started her career in the badlands of the Canadian music industry, quickly amassing experience during stints as publicist, promoter, and artist manager. Now she applies her hard-won hat collection to the realm of tech as a managing partner (and general empress) of Unspace Interactive, where she holds the reins of finance, operations, marketing, and everything else that makes a Ruby consultancy tick.

        %p A master facilitator, Meghann thrives when inventing environments and scenarios where people can tap into their reserves of creativity, allowing them to connect and collaborate more deeply with one another. Recent examples include the seminal RubyFringe and FutureRuby conferences, Changecamp, the Ruby Job Fair and the Technologic speaker series.

        %p She's a bookworm, writer, and photographer, and spends her idle time carefully planning her travel journeys and record purchases (then subsequently justifying them to her accountant.)

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Unspace", "http://www.unspace.ca/"
        %dt.twitter Twitter:
        %dd= link_to "@meghatron", "http://twitter.com/meghatron"

  %article
    %a{ :name => 'matt_margolis' }
    %figure
      = image_tag "img_matt_margolis.jpg", alt: "Matt Margolis"
    .bio
      %hgroup
        %h1 Matt Margolis
        %p Matt is a Software Engineer with Getty Images' Madison office where he develops enterprise scale applications and services in Ruby. He has contributed to Rails, ActiveMerchant, and several other open source projects. Matt is an active member of the Mad-Railers user group where he can be found both answering and asking questions.

        %p Matt moved from Massachusetts to Wisconsin to study Computer Science and has been enjoying Wisconsin's cheeses, ice creams, and beers ever since. His passions include Vim, reading too many books at the same time, and peanut butter.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Getty Images", "http://www.gettyimages.com/"
        %dt.twitter Twitter:
        %dd= link_to "@mrmargolis", "http://twitter.com/mrmargolis"
        %dt.website Website:
        %dd= link_to "https://github.com/mrmargolis", "https://github.com/mrmargolis"

  %article
    %a{ :name => 'giles_bowkett' }
    %figure
      = image_tag "img_giles_bowkett.jpg", alt: "Giles Bowkett"
    .bio
      %hgroup
        %h1 Giles Bowkett
        %p Giles Bowkett is a picker, a grinner, a lover, and a sinner. Some call him the gangster of love. Programming Ruby since 2005, published in Wired at the tender young age of 19, he has created numerous open source projects and miniapps, including Archaeopteryx, a Ruby AI drum machine improviser; ultra-minimal clients for Hacker News, bit.ly, and GitHub; Towelie, a similarity and repetition detector for Ruby; as well as an awesome but unfinished and unreleased automated refactoring project for JavaScript which can just barely combine highly similar statements into wrapper functions and calls to those wrapper functions. Originally from Chicago, he spent many nights of his teenage years drunk in Wisconsin.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@gilesgoatboy", "http://twitter.com/gilesgoatboy"
        %dt.website Website:
        %dd= link_to "gilesbowkett.blogspot.com", "http://gilesbowkett.blogspot.com"

  %article
    %a{ :name => 'dave_copeland' }
    %figure
      = image_tag "img_dave_copeland.jpg", alt: "Dave Copeland"
    .bio
      %hgroup
        %h1 Dave Copeland
        %p Dave Copeland is a veteran software developer with over 15 years of professional development experience, starting on UNIX and C, moving into Java, and now using Java, Ruby, and Scala on a daily basis for energy-efficiency startup OPOWER in Washington, DC. He lives in the command line and firmly believes in getting things done quickly, not making a mess, and leaving things better than how he found them.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "OPOWER", "http://www.opower.com/"
        %dt.twitter Twitter:
        %dd= link_to "@davetron5000", "http://twitter.com/davetron5000"
        %dt.website Website:
        %dd= link_to "naildrivin5.com", "http://www.naildrivin5.com"

  %article
    %a{ :name => 'gerred_dillon' }
    %figure
      = image_tag "img_gerred_dillon.png", alt: "Gerred Dillon"
    .bio
      %hgroup
        %h1 Gerred Dillon
        %p Gerred is the VP of Engineering at Quick Left, a Ruby on Rails consulting firm based in Boulder, CO., where he focuses on training, concurrency, and scalability. Mostly, however, Gerred spends his time writing clean code and tests. A lot of tests. A programmer at heart, Gerred is comfortable in a host of languages from Ruby and Javascript down to Erlang or C. He participates in many open source projects, and is the author of an AMQP object message mapper.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Quick Left", "http://www.quickleft.com/"
        %dt.twitter Twitter:
        %dd= link_to "@justicefries", "http://twitter.com/justicefries"
        %dt.website Website:
        %dd= link_to "gerred.com", "http://www.gerred.com"

  %article
    %a{ :name => 'renee_de_voursney' }
    %figure
      = image_tag "img_renee_de_voursney.jpg", alt: "Renée De Voursney"
    .bio
      %hgroup
        %h1 Renée De Voursney
        %p Renée is the lead developer at Blue Box Group, a managed Rails hosting provider located in Seattle. Renée’s skills intersect software development and business process improvement. When she is not building bug-free, infinitely scalable, and perfectly crafted software, you can find her climbing mountains or jumping off cliffs in Zimbabwe.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Blue Box Group", "http://www.bluebox.net/"
        %dt.twitter Twitter:
        %dd= link_to "@blueboxrenee", "http://twitter.com/blueboxrenee"

  %article
    %a{ :name => 'stephen_caudill' }
    %figure
      = image_tag "img_stephen_caudill.jpg", alt: "Stephen Caudill"
    .bio
      %hgroup
        %h1 Stephen Caudill
        %p Stephen helps steer the rocket (Hashrocket that is) and has over a decade of experience working on the web (with the last six years spent using Ruby and Rails) and a background spanning multiple enterprises, languages and entrepreneurial ventures. Being both compulsively analytical and a lover of linguistics, Stephen’s found a happy niche as a programmer, system architect and web generalist.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Hashrocket", "http://www.hashrocket.com/"
        %dt.twitter Twitter:
        %dd= link_to "@voxdolo", "http://twitter.com/voxdolo"
        %dt.website Website:
        %dd= link_to "blog.voxdolo.com", "http://blog.voxdolo.com"

  %article
    %a{ :name => 'brian_hogan' }
    %figure
      = image_tag "img_brian_hogan.jpg", alt: "Brian P. Hogan"
    .bio
      %hgroup
        %h1 Brian P. Hogan
        %p Brian Hogan is an author, editor, web developer, and trainer from Eau Claire, Wisconsin. He’s been developing web sites professionally since 1995 as a freelancer and consultant, and he currently builds web applications using JavaScript and Ruby on Rails. He enjoys teaching and writing about technology, particularly on web development and accessibility

        %p He is the author of HTML5 and CSS3 – Develop With Tomorrow’s Standards Today and is currently a development editor at the Pragmatic Programmers.

        %p When not hacking on code, he’s writing songs, watching “The Simpsons”, or spending quality time with his wife and daughters.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "NAPCS", "http://www.napcs.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bphogan", "http://twitter.com/bphogan"
        %dt.website Website:
        %dd= link_to "bphogan.com", "http://bphogan.com"

  %article
    %a{ :name => 'tim_connor' }
    %figure
      = image_tag "img_tim_connor.jpg", alt: "Tim Connor"
    .bio
      %hgroup
        %h1 Tim Connor
        %p Tim Connor is the founder of Cloud City Development, a consulting firm in San Francisco that specializes in ruby development for early stage start-ups.

        %p He's been working with ruby since before Rails hit 1.0, so has gotten to see our community grow through some dramatic years of rapidly adapting its best practices - the heavy adoption of agile, TDD, REST, etc. Relatedly, he is almost ready to forgive the community for its crimes, during those years, against his first love, JavaScript.

        %p Tim also helps out with RailsBridge in SF and is passionate about seeing the ruby community continue to become more diverse and approachable.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Cloud City Development", "http://www.cloudcitydev.com/"
        %dt.twitter Twitter:
        %dd= link_to "@timocratic", "http://twitter.com/timocratic"
        %dt.website Website:
        %dd= link_to "cloudcitydev.com", "http://www.cloudcitydev.com"

  %article
    %a{ :name => 'collin_schaafsma' }
    %figure
      = image_tag "img_collin_schaafsma.png", alt: "Collin Schaafsma"
    .bio
      %hgroup
        %h1 Collin Schaafsma
        %p Collin Schaafsma is co-founder and President of Quick Left, a progressive web development studio based in Boulder, CO. He's been building web applications professionally for over a decade using a range of technologies. However, it wasn't till discovering Ruby that he realized code can be truly beautiful. These days, Collin spends most of his time working directly with clients helping them with their process, architecture and business strategy, as well as honing the Quick Left Agile process. He believes that beyond focusing on development craftsmanship, consultancies must focus on making their client's projects a business success.

        %p Collin is also an avid cyclist, an occasional runner and has recently picked up nordic skiing... his technique still needs some work, but his persistence and the mass quantities of quality Colorado snow will prove eventual success. He's living the dream every day with his wife and daughter in Boulder, CO.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Quick Left", "http://www.quickleft.com/"
        %dt.twitter Twitter:
        %dd= link_to "@collinschaafsma", "http://twitter.com/collinschaafsma"

  %article
    %a{ :name => 'jina_bolton' }
    %figure
      = image_tag "img_jina_bolton.jpg", alt: "Jina Bolton"
    .bio
      %hgroup
        %h1 Jina Bolton
        %p Jina is a user experience designer at Engine Yard. Previously, she worked as a visual interaction designer and front-end web developer for super rad companies including Crush + Lovely and Apple, Inc. Jina also founded and co-curates coffee art at Art in My Coffee. She enjoys creating beautiful experiences, and then she likes writing and speaking about it.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Engine Yard", "http://www.engineyard.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jina", "http://twitter.com/jina"
        %dt.website Website:
        %dd= link_to "sushiandrobots.com", "http://sushiandrobots.com/"

  %article
    %a{ :name => 'dan_melnick' }
    %figure
      = image_tag "img_dan_melnick.jpg", alt: "Dan Melnick"
    .bio
      %hgroup
        %h1 Dan Melnick
        %p Dan Melnick is a software developer at Obtiva in Chicago, where he works every day to make the world a better place through developing kick ass software. In addition to his work actively developing software, he enjoys writing on the topic and its various implications and permutations on his blog. When he's not coding or writing, he's usually involved in various musical pursuits, including playing guitar and cluttering up his apartment with more records than he has time to listen to.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Obtiva", "http://www.obtiva.com/"
        %dt.twitter Twitter:
        %dd= link_to "@dan_melnick", "http://twitter.com/dan_melnick"
        %dt.website Website:
        %dd= link_to "dmelnick.com", "http://dmelnick.com/"

  %article
    %a{ :name => 'scott_parker' }
    %figure
      = image_tag "img_scott_parker.jpg", alt: "Scott Parker"
    .bio
      %hgroup
        %h1 Scott Parker
        %p Scott Parker is a Senior Consultant with Obtiva and is widely hailed as a "generally okay human." He's the co-founder of the Chicago Software Craftsmanship group where he has subjected people to a variety of strange and confusing experiences, and is hoping to extend that bafflement to educational institutions foolish enough to agree. Someday he's going to build a new programming language, but until then Scott likes him some Ruby, F#, and Clojure.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Obtiva", "http://www.obtiva.com/"
        %dt.twitter Twitter:
        %dd= link_to "@citizenparker", "http://twitter.com/citizenparker"
        %dt.website Website:
        %dd= link_to "spparker.com", "http://spparker.com/"

  %article
    %a{ :name => 'jon_larkowski' }
    %figure
      = image_tag "img_jon_larkowski.jpg", alt: "Jon Larkowski"
    .bio
      %hgroup
        %h1 Jon Larkowski
        %p
          Lark hit escape velocity launching from powerhouse Rails consultancy #{link_to "Hashrocket","http://www.hashrocket.com/"}, where he was an original member, eventually floating into a happy orbit at #{link_to "Picture of Health", "http://www.pictureofhealth.com/"}. You may know him from #{link_to "Hashrocket’s Book Club", "http://vimeo.com/album/179636"}, or their #{link_to "numerous videos", "http://vimeo.com/l4rk/videos/appears"}, or from speaking at a Ruby conference near you. He hails from scenic Chippewa Falls, Wisconsin, home of speedy Cray supercomputers and refreshing Leinenkugel’s beer. Lately, he’s into the raw side of food, the stretchy side of yoga, the heavy side of progressive metal, and the spinny side of ping pong. He holds an Electrical Engineering/Computer Science degree from the University of Wisconsin-Madison, though the only thing electrical he ever did was wire his parents’ garage. He codes for the forest, while pruning the trees.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Picture of Health", "http://www.pictureofhealth.com/"
        %dt.twitter Twitter:
        %dd= link_to "@l4rk", "http://twitter.com/l4rk"
        %dt.website Website:
        %dd= link_to "blog.l4rk.com", "http://blog.l4rk.com/"

  %article
    %a{ :name => 'jason_mccay' }
    %figure
      = image_tag "img_jason_mccay.png", alt: "Jason McCay"
    .bio
      %hgroup
        %h1 Jason McCay
        %p
          Jason is one of the co-founders of MongoHQ.com as well as a co-founder of CommonThread, a Rails consultancy. While his main passion lies in UI design and structure, he loves just creating products in general.

        %p
          Jason, his wife and his soon-to-be four children reside in Mountain View, CA, where he is making a go at MongoHQ full-time.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "MongoHQ", "http://www.mongohq.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jasonmccay", "http://twitter.com/jasonmccay"
        %dt.website Website:
        %dd= link_to "jasonmccay.com", "http://jasonmccay.com"

  %article
    %a{ :name => 'rick_bradley' }
    %figure
      = image_tag "img_rick_bradley.jpg", alt: "Rick Bradley"
    .bio
      %hgroup
        %h1 Rick Bradley
        %p
          Rick is one of the problem children of O.G. Consulting, who, ironically, clean up other kids' ruby, domain, team, process, and business messes (but only if they're using ruby -- one must have standards, after all). Inventor of fibonacci indentation and the CANT chart, these days Rick fancies a nice whiskey_disk hacking session to blow off steam.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "O.G. Consulting", "http://www.ogtastic.com/"
        %dt.twitter Twitter:
        %dd= link_to "@rickbradley", "http://twitter.com/rickbradley"
        %dt.website Website:
        %dd= link_to "rickbradley.com", "http://rickbradley.com"

  %article
    %a{ :name => 'steve_klabnik' }
    %figure
      = image_tag "img_steve_klabnik.jpg", alt: "Steve Klabnik"
    .bio
      %hgroup
        %h1 Steve Klabnik
        %p
          Steve is a software craftsman, aspiring digital humanities scholar, and the maintainer of Hackety Hack and Shoes. He also started the 
          = link_to 'rstat.us', 'http://rstat.us'
          project.

        %p
          Steve is a writer, who happens to work in Ruby rather than English. Though he does contribute to five or six blogs, including Timeless with Magnus Holm and the Changelog, he avidly contributes to many open source projects. He's interested in applying the compositional and communication skills that the humanities offer to source code. Anyone can bang out software that works, but composing software that's well-crafted is a much different and more difficult endeavor.

        %p
          A large part of Steve's work focuses on education and software literacy, and so he's been running _why's Hackety Hack project for the last two years. Now at a 1.0 release, tens of thousands of prospective Rubyists have gotten their first taste of developing software. Closely related to Hackety Hack is Shoes, which is the best little GUI toolkit for Rubyists who want to create desktop applications.

        %p
          Finally, rstat.us is a microblogging platform written in Ruby. It's decentralized, distributed, and 100% open source. People who are sick of software sharecropping can run their own nodes, control their own data, and yet still participate in the social network. As we live more and more of our lives online, privacy, security, and control are incredibly important.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@steveklabnik", "http://twitter.com/steveklabnik"
        %dt.website Website:
        %dd= link_to "steveklabnik.com", "http://steveklabnik.com"

  %article
    %a{ :name => 'rogelio_samour' }
    %figure
      = image_tag "img_rogelio_samour.jpg", alt: "Rogelio Samour"
    .bio
      %hgroup
        %h1 Rogelio Samour
        %p Born in El Salvador, Rogelio started tinkering with computers when his dad gave him a Tandy in the early Eighties. He received a degree from Arkansas Tech University in 2003 and is passionate about using Computer Science to solve complex problems. Things Ro thinks are rad: Vim, Ruby, Rails, Linux, “Seinfeld,” “Monk,” chess, and long walks on the beach (with his wife). He likes Middle Eastern cuisine and dislikes talking about himself in the third person.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Hashrocket", "http://hashrocket.com/"
        %dt.twitter Twitter:
        %dd= link_to "@therubymug", "http://twitter.com/therubymug"
        %dt.website Website:
        %dd= link_to "http://blog.therubymug.com", "http://blog.therubymug.com"

= render :partial => 'sponsors'
