- content_for :page_title do
  Speakers - Join The Conversation - August 18-20, 2011 - Madison, WI

%section#speakers
  %h1 Our Speakers
  %article
    %a{ :name => 'jeff_casimir' }
    %figure
      = image_tag "img_jeff_casimir.jpg", alt: "Jeff Casimir"
    .bio
      %hgroup
        %h1 Jeff Casimir
        %p Jeff runs Jumpstart Lab where he teaches the best Ruby and Rails classes on Earth.  He formerly taught public middle school and high school in his hometown of Washington, DC.  Now he turns "normal people" into developers, and helps existing developers up their skills.  He has not, yet, figured out how to convert developers into normal people.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Jumpstart Lab", "http://jumpstartlab.com/"
        %dt.twitter Twitter:
        %dd= link_to "@j3", "http://twitter.com/j3"
        %dt.website Website:
        %dd= link_to "http://jumpstartlab.com", "http://jumpstartlab.com"

  %article
    %a{ :name => 'bryan_liles' }
    %figure
      = image_tag "img_bryan_liles.jpg", alt: "Bryan Liles"
    .bio
      %hgroup
        %h1 Bryan Liles
        %p Bryan does a myriad of Ruby related tasks for his daytime job in a quaint little town near Baltimore, Maryland. No, that isn't right. Bryan Liles is Greatest Man Alive! He hacks mad ruby. He trolls twitter. He is looking for the good fight.

        %p He hasn't written any books, and doesn't maintain any major open source projects. Most of his time is spent helping others level up their awesomeness; trying to cause chaos with writings on his blog at http://smartic.us  (I know you've heard of Smarticus); or just being a great dad and husband. 

        %p Some came to lead. Some come to be lead. Bryan comes to smash the status quo.


    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@bryanl", "http://twitter.com/bryanl"
        %dt.website Website:
        %dd= link_to "http://smartic.us", "http://smartic.us"
