- content_for :page_title do
  Speakers - Join The Conversation - August 23-25, 2012 - Madison, WI

%section#speakers
  %h1 Our Speakers
  %article
    %a{ :name => 'jeff_casimir' }
    %figure
      = image_tag "img_jeff_casimir.jpg", alt: "Jeff Casimir"
    .bio
      %hgroup
        %h1 Jeff Casimir
      %p Jeff runs Jumpstart Lab where he teaches the best Ruby and Rails classes on Earth.  He formerly taught public middle school and high school in his hometown of Washington, DC.  Now he turns "normal people" into developers, and helps existing developers up their skills.  He has not, yet, figured out how to convert developers into normal people.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Jumpstart Lab", "http://jumpstartlab.com/"
        %dt.twitter Twitter:
        %dd= link_to "@j3", "http://twitter.com/j3"
        %dt.website Website:
        %dd= link_to "http://jumpstartlab.com", "http://jumpstartlab.com"

  %article
    %a{ :name => 'bryan_liles' }
    %figure
      = image_tag "img_bryan_liles.jpg", alt: "Bryan Liles"
    .bio
      %hgroup
        %h1 Bryan Liles
      %p Bryan does a myriad of Ruby related tasks for his daytime job in a quaint little town near Baltimore, Maryland. No, that isn't right. Bryan Liles is Greatest Man Alive! He hacks mad ruby. He trolls twitter. He is looking for the good fight.

      %p
        He hasn't written any books, and doesn't maintain any major open source projects. Most of his time is spent helping others level up their awesomeness; trying to cause chaos with writings on his blog at
        = link_to "http://smartic.us", "http://smartic.us"
        (I know you've heard of Smarticus); or just being a great dad and husband.

      %p Some came to lead. Some come to be lead. Bryan comes to smash the status quo.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@bryanl", "http://twitter.com/bryanl"
        %dt.website Website:
        %dd= link_to "http://smartic.us", "http://smartic.us"


  %article
    %a{ :name => 'jessie_shternshus' }
    %figure
      = image_tag "img_jessie_shternshus.jpg", alt: "Jessie Shternshus"
    .bio
      %hgroup
        %h1 Jessie Shternshus
      %p As the founder and owner of The IMPROV EFFECT, Jessie weds her lifelong passion for, and expertise in, improvisational acting with the fast paced demands of the corporate world. In her classes and workshops she helps people become better listeners, team players, leaders, and communicators. Her physically engaging and playful workshops are relevant to all fields of life; participants of her workshops vary from college professors to engineers and from web developers to lawyers.

      %p Jessie gained her formal education at USF and NYU.  Throughout her career she has worked with companies such as CBS, Paramount Pictures, MTV and Sesame Workshop.  She facilitates communication skills workshops and speaks at national and international conferences.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "The Improv Effect", "http://www.improveffect.com/"
        %dt.twitter Twitter:
        %dd= link_to "@theimproveffect", "http://twitter.com/theimproveffect"
        %dt.website Website:
        %dd= link_to "http://www.improveffect.com/", "http://www.improveffect.com/"

  %article
    %a{ :name => 'steve_klabnik' }
    %figure
      = image_tag "img_steve_klabnik.jpg", alt: "Steve Klabnik"
    .bio
      %hgroup
        %h1 Steve Klabnik
        %p
          Steve is a software craftsman, aspiring digital humanities scholar, and the maintainer of Hackety Hack and Shoes. He also started the 
          = link_to 'rstat.us', 'http://rstat.us'
          project.

      %p Steve is a writer, who happens to work in Ruby rather than English. Though he does contribute to five or six blogs, including Timeless with Magnus Holm and the Changelog, he avidly contributes to many open source projects. He's interested in applying the compositional and communication skills that the humanities offer to source code. Anyone can bang out software that works, but composing software that's well-crafted is a much different and more difficult endeavor.

      %p A large part of Steve's work focuses on education and software literacy, and so he's been running _why's Hackety Hack project for the last two years. Now at a 1.0 release, tens of thousands of prospective Rubyists have gotten their first taste of developing software. Closely related to Hackety Hack is Shoes, which is the best little GUI toolkit for Rubyists who want to create desktop applications.

      %p Finally, rstat.us is a microblogging platform written in Ruby. It's decentralized, distributed, and 100% open source. People who are sick of software sharecropping can run their own nodes, control their own data, and yet still participate in the social network. As we live more and more of our lives online, privacy, security, and control are incredibly important.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@steveklabnik", "http://twitter.com/steveklabnik"
        %dt.website Website:
        %dd= link_to "steveklabnik.com", "http://steveklabnik.com"

    %figure
      = image_tag "img_robert_pitts.jpg", alt: "Robert Pitts"
    .bio
      %hgroup
        %h1 Robert Pitts
      %p Robert[rbxbx] enjoys cats, aspartame, and hipster rubbish (but not that). He is currently having difficulties dealing with being a sellout fatcat, however 27" iMacs and new shoes are helping ease the transition. He’s run a hardcore DIY underground (mostly) electronic net-label for around 6 years now, before Radiohead and NIN ‘revolutionized’ free music in the digital age. Merrr. Originally became interested in web-programming as a matter of utility, due to realizing the importance of a strong net-presence early on. From there, an interest in the MAX/MSP programming environment took that to another level, which finally culminated in programming bliss upon discovering _why(rip)’s Poignant Guide to Ruby (and thusly the Ruby programming language). There’s been no looking back since then as being able to turn one’s interests into a career is quite rare and amazing. Huzzah. You can find him arguing with your girlfriend at the local pub about her horrible taste in music. Hah hah, only serious.

      %h2.title
        Conference Co-host

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@rbxbx", "http://twitter.com/rbxbx"
        %dt.website Website:
        %dd= link_to "http://rbxbx.tumblr.com", "http://rbxbx.tumblr.com"

= render :partial => 'sponsors'
