- content_for :page_title do
  Speakers - Join The Conversation - August 18-20, 2011 - Madison, WI

%section#speakers
  %h1 Our Speakers
  %article
    %a{ :name => 'jeff_casimir' }
    %figure
      = image_tag "img_jeff_casimir.jpg", alt: "Jeff Casimir"
    .bio
      %hgroup
        %h1 Jeff Casimir
        %p Jeff runs Jumpstart Lab where he teaches the best Ruby and Rails classes on Earth.  He formerly taught public middle school and high school in his hometown of Washington, DC.  Now he turns "normal people" into developers, and helps existing developers up their skills.  He has not, yet, figured out how to convert developers into normal people.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Jumpstart Lab", "http://jumpstartlab.com/"
        %dt.twitter Twitter:
        %dd= link_to "@j3", "http://twitter.com/j3"
        %dt.website Website:
        %dd= link_to "http://jumpstartlab.com", "http://jumpstartlab.com"

  %article
    %a{ :name => 'bryan_liles' }
    %figure
      = image_tag "img_bryan_liles.jpg", alt: "Bryan Liles"
    .bio
      %hgroup
        %h1 Bryan Liles
        %p Bryan does a myriad of Ruby related tasks for his daytime job in a quaint little town near Baltimore, Maryland. No, that isn't right. Bryan Liles is Greatest Man Alive! He hacks mad ruby. He trolls twitter. He is looking for the good fight.

        %p
          He hasn't written any books, and doesn't maintain any major open source projects. Most of his time is spent helping others level up their awesomeness; trying to cause chaos with writings on his blog at
          = link_to "http://smartic.us", "http://smartic.us"
          (I know you've heard of Smarticus); or just being a great dad and husband.

        %p Some came to lead. Some come to be lead. Bryan comes to smash the status quo.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@bryanl", "http://twitter.com/bryanl"
        %dt.website Website:
        %dd= link_to "http://smartic.us", "http://smartic.us"


  %article
    %a{ :name => 'jacqui_cox' }
    %figure
      = image_tag "img_jacqui_cox.png", alt: "Jacqui Cox"
    .bio
      %hgroup
        %h1 Jacqui Cox
        %p Jacqui is part of the Interactive News Technologies team at The New York Times. A group of  developer/journalists based in the newsroom, they work on projects that present and deliver the news in innovative and useful ways. A native of NYC, working for the paper has been one of her dreams for a long time. She's just thankful that she didn't have to start in the mail room.

        %p An active member of the Ruby community for several years, Jacqui contributes to many open source projects. She has a love of travel and adventure and might be found climbing one of the Seven Summits.


    %aside
      %dl
        %dt.company Company:
        %dd= link_to "NY Times", "http://nytimes.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jacqui", "http://twitter.com/jacqui"
        %dt.website Website:
        %dd= link_to "http://brighter.net", "http://brighter.net"

  %article
    %a{ :name => 'lori_olson' }
    %figure
      = image_tag "img_lori_olson.jpg", alt: "Lori Olson"
    .bio
      %hgroup
        %h1 Lori Olson
        %p Five years ago Lori tried Ruby/Rails as an alternative to Java development and "has never looked back!" She has been delivering Rails applications in the oil & gas industry for the last five years, working for companies like Labrador Technologies, CodeGear/Borland, and Intellog.

        %p Lori has a long list of speaking credits. Most recently, she spoke at Conferencia Rails 2010 in Madrid and RailsConf 2009 in Las Vegas. She has also presented at the CodeRage and COSSFEST conferences, and presents frequently to the Calgary Ruby User Society, of which she is also a co-founder.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@wndxlori", "http://twitter.com/wndxlori"
        %dt.website Website:
        %dd= link_to "http://wndx.posterous.com", "http://wndx.posterous.com"

  %article
    %a{ :name => 'chad_pytel' }
    %figure
      = image_tag "img_chad_pytel.jpg", alt: "Chad Pytel"
    .bio
      %hgroup
        %h1 Chad Pytel
        %p Chad Pytel is founder and CEO of thoughtbot, inc. a Ruby on Rails consulting firm and the creators of popular plugins like paperclip, factory_girl, shoulda, and well as their own products Hoptoad, Trajectory, and Copycopter.
        %p Chad is the author of Rails AntiPatterns and Pro Active Record, and has spoken at numerous conferences around the world. He lives in Newton, MA with his wife and two children.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Thoughtbot", "http://www.thoughtbot.com"
        %dt.twitter Twitter:
        %dd= link_to "@cpytel", "http://twitter.com/cpytel"
        %dt.website Website:
        %dd= link_to "http://chadpytel.com/", "http://chadpytel.com/"

  %article
    %a{ :name => 'jessie_shternshus' }
    %figure
      = image_tag "img_jessie_shternshus.jpg", alt: "Jessie Shternshus"
    .bio
      %hgroup
        %h1 Jessie Shternshus
        %p As the founder and owner of The IMPROV EFFECT, Jessie weds her lifelong passion for, and expertise in, improvisational acting with the fast paced demands of the corporate world. In her classes and workshops she helps people become better listeners, team players, leaders, and communicators. Her physically engaging and playful workshops are relevant to all fields of life; participants of her workshops vary from college professors to engineers and from web developers to lawyers.

        %p Jessie gained her formal education at USF and NYU.  Throughout her career she has worked with companies such as CBS, Paramount Pictures, MTV and Sesame Workshop.  She facilitates communication skills workshops and speaks at national and international conferences.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "The Improv Effect", "http://www.improveffect.com/"
        %dt.twitter Twitter:
        %dd= link_to "@theimproveffect", "http://twitter.com/theimproveffect"
        %dt.website Website:
        %dd= link_to "http://www.improveffect.com/", "http://www.improveffect.com/"

  %article
    %a{ :name => 'matt_yoho' }
    %figure
      = image_tag "img_matt_yoho.jpg", alt: "Matt Yoho"
    .bio
      %hgroup
        %h1 Matt Yoho
        %p Matt Yoho is a developer and agile enthusiast with a love for Ruby and the web who works for EdgeCase in Columbus, OH. He is a supporter of the software craftsmanship movement and is the apprenticeship coordinator at EdgeCase. He likes comic books, karaoke, free software, and sweet potato fries. He is one fairly hep cat.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "EdgeCase", "http://www.edgecase.com/"
        %dt.twitter Twitter:
        %dd= link_to "@mattyoho", "http://twitter.com/mattyoho"
        %dt.website Website:
        %dd= link_to "http://blog.mattyoho.com/", "http://blog.mattyoho.com/"

  %article
    %a{ :name => 'barry_hess' }
    %figure
      = image_tag "img_barry_hess.jpg", alt: "Barry Hess"
    .bio
      %hgroup
        %h1 Barry Hess
        %p Barry is part of an elite team of time tracking warriors at Harvest. He spent seven years mired in enterprise before Ruby slapped him in the face like a jilted lover. Now he likes to spend his time discussing distributed teamwork, small team to not-quite-as-small team growing pains, and sweet, sweet code.

        %p Barry created a blog so he would have writing credits. He has used your open source software. He lives in rural Minnesota with his wife and three daughters.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Harvest", "http://www.getharvest.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bjhess", "http://twitter.com/bjhess"
        %dt.website Website:
        %dd= link_to "http://bjhess.com/", "http://bjhess.com/"

= render :partial => 'sponsors'
