- content_for :page_title do
  Speakers - Join The Conversation - August 18-20, 2011 - Madison, WI

%section#speakers
  %h1 Our Speakers
  %article
    %a{ :name => 'jeff_casimir' }
    %figure
      = image_tag "img_jeff_casimir.jpg", alt: "Jeff Casimir"
    .bio
      %hgroup
        %h1 Jeff Casimir
      %p Jeff runs Jumpstart Lab where he teaches the best Ruby and Rails classes on Earth.  He formerly taught public middle school and high school in his hometown of Washington, DC.  Now he turns "normal people" into developers, and helps existing developers up their skills.  He has not, yet, figured out how to convert developers into normal people.

      %h2.title
        Blow Up Your Views
      %p.description
        Whether you're new to Rails or have been around few years, chances are that your views are primitive. Detonate what you know about how views are written and let's start over. 

      %p.description
        In this session you'll learn...
        %ul
          %li Why your views suck
          %li Guidelines for view code quality
          %li Shake PHP-itis and work with Objects
          %li Embrace Rails 3's flexibilities
          %li Stop being a weenie and embrace JavaScript

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Jumpstart Lab", "http://jumpstartlab.com/"
        %dt.twitter Twitter:
        %dd= link_to "@j3", "http://twitter.com/j3"
        %dt.website Website:
        %dd= link_to "http://jumpstartlab.com", "http://jumpstartlab.com"

  %article
    %a{ :name => 'bryan_liles' }
    %figure
      = image_tag "img_bryan_liles.jpg", alt: "Bryan Liles"
    .bio
      %hgroup
        %h1 Bryan Liles
      %p Bryan does a myriad of Ruby related tasks for his daytime job in a quaint little town near Baltimore, Maryland. No, that isn't right. Bryan Liles is Greatest Man Alive! He hacks mad ruby. He trolls twitter. He is looking for the good fight.

      %p
        He hasn't written any books, and doesn't maintain any major open source projects. Most of his time is spent helping others level up their awesomeness; trying to cause chaos with writings on his blog at
        = link_to "http://smartic.us", "http://smartic.us"
        (I know you've heard of Smarticus); or just being a great dad and husband.

      %p Some came to lead. Some come to be lead. Bryan comes to smash the status quo.

      %h2.title
        MINSWAN (Matz Is Nice So We Are Nice)
      %p.description
        Everything you've done in your life has led you to where you are right now. All the good and bad decisions have helped make you the person that have evolved into. We all want to be good coders, and there are life lessons to be learned by observing others.  Instead of letting you observing all my past failures and success, I'm going to recap them for you. From my troubled past to my current ruby undertakings; you'll get an eye of someone who laughs at MINSWAN every day.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@bryanl", "http://twitter.com/bryanl"
        %dt.website Website:
        %dd= link_to "http://smartic.us", "http://smartic.us"


  %article
    %a{ :name => 'jacqui_cox' }
    %figure
      = image_tag "img_jacqui_cox.png", alt: "Jacqui Cox"
    .bio
      %hgroup
        %h1 Jacqui Cox
      %p Jacqui is part of the Interactive News Technologies team at The New York Times. A group of  developer/journalists based in the newsroom, they work on projects that present and deliver the news in innovative and useful ways. A native of NYC, working for the paper has been one of her dreams for a long time. She's just thankful that she didn't have to start in the mail room.

      %p An active member of the Ruby community for several years, Jacqui contributes to many open source projects. She has a love of travel and adventure and might be found climbing one of the Seven Summits.

      %h2.title
        "I'm mad as hell, and I'm not going to take this anymore!"
        %br/
        Strategies for Coping in Chaos

      %p.description
        Breaking news, tight deadlines, and ever-changing priorities are hallmarks of most newsrooms. In fact, they're the hallmarks of many software development projects too, if you switch news for 'ideas'.  The ever changing roadmap makes delivering quality software applications difficult. Gotten on top of all that? Then add in the time to maintain and scale these apps, embracing change as code slowly changes into 'legacy'; all of which would lead anyone to go just a little bit crazy. So won't you all join me in opening your twitter streams and shouting out.... ?

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "NY Times", "http://nytimes.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jacqui", "http://twitter.com/jacqui"
        %dt.website Website:
        %dd= link_to "http://brighter.net", "http://brighter.net"

  %article
    %a{ :name => 'lori_olson' }
    %figure
      = image_tag "img_lori_olson.jpg", alt: "Lori Olson"
    .bio
      %hgroup
        %h1 Lori Olson
      %p Five years ago Lori tried Ruby/Rails as an alternative to Java development and "has never looked back!" She has been delivering Rails applications in the oil & gas industry for the last five years, working for companies like Labrador Technologies, CodeGear/Borland, and Intellog.

      %p Lori has a long list of speaking credits. Most recently, she spoke at Conferencia Rails 2010 in Madrid and RailsConf 2009 in Las Vegas. She has also presented at the CodeRage and COSSFEST conferences, and presents frequently to the Calgary Ruby User Society, of which she is also a co-founder.

      %h2.title
        Consultants &amp; Rockstars, Who needs 'em?
      %p.description
        Sound familiar? The Rails ecosystem is growing in leaps and bounds, like the Java ecosystem did in its’ early days. So many languages, frameworks, plugins, engines, libraries and tools. So little time to deliver your new project.

      %p.description
        It’s tempting to hire a rock star who knows absolutely everything to get your new project off the ground. You can also hire "consultants" to help fill in the holes in your team when taking your existing product to the next level. Or maybe just hire a whole bunch of people for cheap, and they’ll get the job done... But did you ever consider the untapped wealth of the team you already have?

      %p.description
        In this session we’ll explore ways in which the average development team can explore, learn, teach, and grow, until the sum of members of the team is as great as any Consultant or Rockstar.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@wndxlori", "http://twitter.com/wndxlori"
        %dt.website Website:
        %dd= link_to "http://wndx.posterous.com", "http://wndx.posterous.com"

  %article
    %a{ :name => 'chad_pytel' }
    %figure
      = image_tag "img_chad_pytel.jpg", alt: "Chad Pytel"
    .bio
      %hgroup
        %h1 Chad Pytel
      %p Chad Pytel is founder and CEO of thoughtbot, inc. a Ruby on Rails consulting firm and the creators of popular plugins like paperclip, factory_girl, shoulda, and well as their own products Hoptoad, Trajectory, and Copycopter.
      %p Chad is the author of Rails AntiPatterns and Pro Active Record, and has spoken at numerous conferences around the world. He lives in Newton, MA with his wife and two children.

      %h2.title
        jQuery Mobile on Rails
      %p.description
        jQuery Mobile provides a framework for building cross-platform mobile web applications. This opinionated mobile web framework will allow you to build a single mobile interface that supports iPhone, Android, Blackberry, Palm, and Windows Mobile, and perfectly complements Ruby on Rails on the server side.

      %p.description
        This session will walk through the building of a mobile web application using jQuery Mobile and Rails. Along the way, we’ll dive into jQuery Mobile internals, exploring the interesting and innovative ways it does what it does.

      %p.description
        You’ll come away from this session with all of the information you need to know to build your next mobile web application with jQuery Mobile and Rails, including setup and infrastructure, pitfalls and gotchas, and how to fully integration test your mobile application, even the javascript!

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Thoughtbot", "http://www.thoughtbot.com"
        %dt.twitter Twitter:
        %dd= link_to "@cpytel", "http://twitter.com/cpytel"
        %dt.website Website:
        %dd= link_to "http://chadpytel.com/", "http://chadpytel.com/"

  %article
    %a{ :name => 'jessie_shternshus' }
    %figure
      = image_tag "img_jessie_shternshus.jpg", alt: "Jessie Shternshus"
    .bio
      %hgroup
        %h1 Jessie Shternshus
      %p As the founder and owner of The IMPROV EFFECT, Jessie weds her lifelong passion for, and expertise in, improvisational acting with the fast paced demands of the corporate world. In her classes and workshops she helps people become better listeners, team players, leaders, and communicators. Her physically engaging and playful workshops are relevant to all fields of life; participants of her workshops vary from college professors to engineers and from web developers to lawyers.

      %p Jessie gained her formal education at USF and NYU.  Throughout her career she has worked with companies such as CBS, Paramount Pictures, MTV and Sesame Workshop.  She facilitates communication skills workshops and speaks at national and international conferences.

      %h2.title
        How to Give an Awesome Lightning Talk
      %p.description
        I will give you some tips on how to do a Kick Ass Lightning round talk by using the theories of improvisation. You will get a chance to practice your new skills and hear some feedback. Learn how to get your point across in a clear and confident way. Understand how to make your message stick. Be aware of the signals you are sending to your audience.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "The Improv Effect", "http://www.improveffect.com/"
        %dt.twitter Twitter:
        %dd= link_to "@theimproveffect", "http://twitter.com/theimproveffect"
        %dt.website Website:
        %dd= link_to "http://www.improveffect.com/", "http://www.improveffect.com/"

  %article
    %a{ :name => 'matt_yoho' }
    %figure
      = image_tag "img_matt_yoho.jpg", alt: "Matt Yoho"
    .bio
      %hgroup
        %h1 Matt Yoho
      %p Matt Yoho is a developer and agile enthusiast with a love for Ruby and the web who works for EdgeCase in Columbus, OH. He is a supporter of the software craftsmanship movement and is the apprenticeship coordinator at EdgeCase. He likes comic books, karaoke, free software, and sweet potato fries. He is one fairly hep cat.

      %h2.title
        Have Fun the Rong Way
      %p.description
        Rong is a client-server Pong implementation written in Ruby that hopes to take a whack at your office productivity. Though Pong itself is a relatively uncomplex game, it allows a variety of interesting programming problems to be explored.

      %p.description
        By using a client-server architecture, having multiplayer support, and publishing a built-in leaderboard, Rong lets us take a look at Ruby-idiomatic approaches to event-driven servers, network communication, cross-platform clients, web service APIs, gem (Ruby library) authoring and organization strategies, and more.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "EdgeCase", "http://www.edgecase.com/"
        %dt.twitter Twitter:
        %dd= link_to "@mattyoho", "http://twitter.com/mattyoho"
        %dt.website Website:
        %dd= link_to "http://blog.mattyoho.com/", "http://blog.mattyoho.com/"

  %article
    %a{ :name => 'barry_hess' }
    %figure
      = image_tag "img_barry_hess.jpg", alt: "Barry Hess"
    .bio
      %hgroup
        %h1 Barry Hess
      %p Barry is part of an elite team of time tracking warriors at Harvest. He spent seven years mired in enterprise before Ruby slapped him in the face like a jilted lover. Now he likes to spend his time discussing distributed teamwork, small team to not-quite-as-small team growing pains, and sweet, sweet code.

      %p Barry created a blog so he would have writing credits. He has used your open source software. He lives in rural Minnesota with his wife and three daughters.

      %h2.title
        Software As A Service Panelist

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Harvest", "http://www.getharvest.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bjhess", "http://twitter.com/bjhess"
        %dt.website Website:
        %dd= link_to "http://bjhess.com/", "http://bjhess.com/"

  %article
    %a{ :name => 'matt_margolis' }
    %figure
      = image_tag "img_matt_margolis.jpg", alt: "Matt Margolis"
    .bio
      %hgroup
        %h1 Matt Margolis
      %p Matt is a Software Engineer with Getty Images' Madison office where he develops enterprise scale applications and services in Ruby. He has contributed to Rails, ActiveMerchant, and several other open source projects. Matt is an active member of the Mad-Railers user group where he can be found both answering and asking questions.

      %p Matt moved from Massachusetts to Wisconsin to study Computer Science and has been enjoying Wisconsin's cheeses, ice creams, and beers ever since. His passions include Vim, reading too many books at the same time, and peanut butter.

      %h2.title
        Scripting Vim with Ruby
      %p.description
        Vim has emerged as one of the premiere editors for Rubyists. This talk will teach you everything you need to know to take your Vim experience to the next level by extending Vim with the Ruby scripting interface. We will cover the Ruby interface's API and explore the power of customizing Vim with commands written in Ruby.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Getty Images", "http://www.gettyimages.com/"
        %dt.twitter Twitter:
        %dd= link_to "@mrmargolis", "http://twitter.com/mrmargolis"
        %dt.website Website:
        %dd= link_to "https://github.com/mrmargolis", "https://github.com/mrmargolis"

  %article
    %a{ :name => 'giles_bowkett' }
    %figure
      = image_tag "img_giles_bowkett.jpg", alt: "Giles Bowkett"
    .bio
      %hgroup
        %h1 Giles Bowkett
      %p Giles Bowkett is a picker, a grinner, a lover, and a sinner. Some call him the gangster of love. Programming Ruby since 2005, published in Wired at the tender young age of 19, he has created numerous open source projects and miniapps, including Archaeopteryx, a Ruby AI drum machine improviser; ultra-minimal clients for Hacker News, bit.ly, and GitHub; Towelie, a similarity and repetition detector for Ruby; as well as an awesome but unfinished and unreleased automated refactoring project for JavaScript which can just barely combine highly similar statements into wrapper functions and calls to those wrapper functions. Originally from Chicago, he spent many nights of his teenage years drunk in Wisconsin.

      %h2.title
        Life on My Home Planet
      %p.description
        This talk covers two powerful but incomplete artificial intelligence projects in Ruby: Archaeopteryx, a Ruby drum machine which can improvise its own rhythms, and Epic Towelie, which can automate several tasks involved in refactoring JavaScript, such as identifying duplication, identifying highly similar code, and extracting repetitive code into wrapper functions. The speaker may perform music; the speaker's code will definitely perform music. The talk will also pose an important and challenging question: do you need a goat to fly to the moon?

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@gilesgoatboy", "http://twitter.com/gilesgoatboy"
        %dt.website Website:
        %dd= link_to "gilesbowkett.blogspot.com", "http://gilesbowkett.blogspot.com"

  %article
    %a{ :name => 'dave_copeland' }
    %figure
      = image_tag "img_dave_copeland.jpg", alt: "Dave Copeland"
    .bio
      %hgroup
        %h1 Dave Copeland
      %p Dave Copeland is a veteran software developer with over 15 years of professional development experience, starting on UNIX and C, moving into Java, and now using Java, Ruby, and Scala on a daily basis for energy-efficiency startup OPOWER in Washington, DC. He lives in the command line and firmly believes in getting things done quickly, not making a mess, and leaving things better than how he found them.

      %h2.title
        Making Awesome Command Line Apps in Ruby
      %p.description
        Tired of maintaining your one-off script that has now become someone's job to execute? Wishing you could easily create polished applications on the command line similar to git or cucumber? You'll learn exactly what makes a great command line application, and see how easy it is to accomplish in Ruby with just a few open-source libraries. After this, you'll have everything you need to create usable and maintainable command line applications that won't come back to haunt you.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "OPOWER", "http://www.opower.com/"
        %dt.twitter Twitter:
        %dd= link_to "@davetron5000", "http://twitter.com/davetron5000"
        %dt.website Website:
        %dd= link_to "naildrivin5.com", "http://www.naildrivin5.com"

  %article
    %a{ :name => 'gerred_dillon' }
    %figure
      = image_tag "img_gerred_dillon.png", alt: "Gerred Dillon"
    .bio
      %hgroup
        %h1 Gerred Dillon
      %p Gerred is the VP of Engineering at Quick Left, a Ruby on Rails consulting firm based in Boulder, CO., where he focuses on training, concurrency, and scalability. Mostly, however, Gerred spends his time writing clean code and tests. A lot of tests. A programmer at heart, Gerred is comfortable in a host of languages from Ruby and Javascript down to Erlang or C. He participates in many open source projects, and is the author of an AMQP object message mapper.

      %h2.title
        Re-imagining Rails Messaging
      %p.description
        As Ruby matures, understanding service oriented architecture is becoming more important for Rubyists to have in their toolboxes. This talk will focus on messaging systems in the SOA ecosystem, featuring a case study of an application that went from monolithic to service oriented, with messaging and queue systems driving the changes. Architecting, scaling, deploying, and maintaining messaging/queueing systems will be discussed, and tools developed along the way will be introduced.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Quick Left", "http://www.quickleft.com/"
        %dt.twitter Twitter:
        %dd= link_to "@justicefries", "http://twitter.com/justicefries"
        %dt.website Website:
        %dd= link_to "gerred.com", "http://www.gerred.com"

  %article
    %a{ :name => 'renee_de_voursney' }
    %figure
      = image_tag "img_renee_de_voursney.jpg", alt: "Renée De Voursney"
    .bio
      %hgroup
        %h1 Renée De Voursney
      %p Renée is an independent consultant living in Seattle. Renée’s skills intersect software development and business process improvement. When she is not building bug-free, infinitely scalable, and perfectly crafted software, you can find her climbing mountains or jumping off cliffs in Zimbabwe.

      %h2.title
        Whose Wife Are You?
      %p.description
        Where is the "End of Men" in the Ruby community? Shouldn't the push for more paired-programming and team driven development encourage more women into the notoriously lone-wolf, up at all hours, "I'm better than a team" development community? So where are they? What percent of your software development team is women? Have you ever pair-programmed with a woman? This talk is going to ask some edgy questions about the Ruby community and who it's women are. I will be drawing parallels between my mountain climbing experiences and my experiences as a software developer.

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@gigglegirl4e", "http://twitter.com/gigglegirl4e"

  %article
    %a{ :name => 'stephen_caudill' }
    %figure
      = image_tag "img_stephen_caudill.jpg", alt: "Stephen Caudill"
    .bio
      %hgroup
        %h1 Stephen Caudill
      %p Stephen helps steer the rocket (Hashrocket that is) and has over a decade of experience working on the web (with the last six years spent using Ruby and Rails) and a background spanning multiple enterprises, languages and entrepreneurial ventures. Being both compulsively analytical and a lover of linguistics, Stephen’s found a happy niche as a programmer, system architect and web generalist.

      %h2.title
        Tip of The Skinny Iceberg
      %p.description
        An advanced discussion of applying design patterns in Rails applications. A lot has happened in the Rails world since "Skinny Controller, Fat Model" was first espoused as a virtuous design approach in 2006. Learn the state of the art in Rails architecture and how to avoid common design pitfalls in your applications.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Hashrocket", "http://www.hashrocket.com/"
        %dt.twitter Twitter:
        %dd= link_to "@voxdolo", "http://twitter.com/voxdolo"
        %dt.website Website:
        %dd= link_to "blog.voxdolo.com", "http://blog.voxdolo.com"

  %article
    %a{ :name => 'brian_hogan' }
    %figure
      = image_tag "img_brian_hogan.jpg", alt: "Brian P. Hogan"
    .bio
      %hgroup
        %h1 Brian P. Hogan
      %p Brian Hogan is an author, editor, web developer, and trainer from Eau Claire, Wisconsin. He’s been developing web sites professionally since 1995 as a freelancer and consultant, and he currently builds web applications using JavaScript and Ruby on Rails. He enjoys teaching and writing about technology, particularly on web development and accessibility

      %p He is the author of HTML5 and CSS3 – Develop With Tomorrow’s Standards Today and is currently a development editor at the Pragmatic Programmers.

      %p When not hacking on code, he’s writing songs, watching “The Simpsons”, or spending quality time with his wife and daughters.

      %h2.title
        Creating RubyGems from Scratch
      %p.description
        If you've ever looked into how to create Gems, you've probably seen a bunch of ways to do that. Project generators like Hoe, Jeweler, and the like offer some nice ways to get started, but they may often be overkill for many projects. If you're just starting out, why not learn to do it from scratch?

      %p.description
        In this talk, we'll create our own gem from scratch, using only things that are provided by Ruby, its standard library, and RubyGems to craft a simple gem. You'll learn how to set up a project, how to write and run tests, how to use Rake to quickly build the gem, and even how to create a gem that installs an executable command-line program.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "NAPCS", "http://www.napcs.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bphogan", "http://twitter.com/bphogan"
        %dt.website Website:
        %dd= link_to "bphogan.com", "http://bphogan.com"

  %article
    %a{ :name => 'tim_connor' }
    %figure
      = image_tag "img_tim_connor.jpg", alt: "Tim Connor"
    .bio
      %hgroup
        %h1 Tim Connor
      %p Tim Connor is the founder of Cloud City Development, a consulting firm in San Francisco that specializes in ruby development for early stage start-ups.

      %p He's been working with ruby since before Rails hit 1.0, so has gotten to see our community grow through some dramatic years of rapidly adapting its best practices - the heavy adoption of agile, TDD, REST, etc. Relatedly, he is almost ready to forgive the community for its crimes, during those years, against his first love, JavaScript.

      %p Tim also helps out with RailsBridge in SF and is passionate about seeing the ruby community continue to become more diverse and approachable.

      %h2.title
        MongoMapper Migrations - handling changes in no schema
      %p.description
        Expanding on my initial thoughts #{link_to 'in this post', "http://posterous.timocracy.com/the-unbearable-flexibility-of-schemalesness"}, I'll describe the difficulties such flexibility pose in keeping your data consistent with a changing data model, in a schemaless datastore. I will proposal a pattern we found useful on a client site, and explore it with some code - possibly the release of a gem to package up said pattern.

      %p.description
        If there is interest I could instead focus more on general coolness of the module include pattern and a k-v store, but I think that material is less original, possibly.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Cloud City Development", "http://www.cloudcitydev.com/"
        %dt.twitter Twitter:
        %dd= link_to "@timocratic", "http://twitter.com/timocratic"
        %dt.website Website:
        %dd= link_to "cloudcitydev.com", "http://www.cloudcitydev.com"

  %article
    %a{ :name => 'collin_schaafsma' }
    %figure
      = image_tag "img_collin_schaafsma.png", alt: "Collin Schaafsma"
    .bio
      %hgroup
        %h1 Collin Schaafsma
      %p Collin Schaafsma is co-founder and President of Quick Left, a progressive web development studio based in Boulder, CO. He's been building web applications professionally for over a decade using a range of technologies. However, it wasn't till discovering Ruby that he realized code can be truly beautiful. These days, Collin spends most of his time working directly with clients helping them with their process, architecture and business strategy, as well as honing the Quick Left Agile process. He believes that beyond focusing on development craftsmanship, consultancies must focus on making their client's projects a business success.

      %p Collin is also an avid cyclist, an occasional runner and has recently picked up nordic skiing... his technique still needs some work, but his persistence and the mass quantities of quality Colorado snow will prove eventual success. He's living the dream every day with his wife and daughter in Boulder, CO.

      %h2.title
        Kick Your Project in the Mouth
      %p.description
        One of the most difficult parts of software development is starting projects off right (so that they actually ship). This talk will take developers through the process of war room storyboarding and getting a project off the ground, galvanizing teams to produce quickly and consistently without compromising quality. Stripping down features to find the core product, and managing expectations with product owners will be covered in detail. After this talk, developers will have the tools to implement this in their own processes, and add some fun into the mix along the way.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Quick Left", "http://www.quickleft.com/"
        %dt.twitter Twitter:
        %dd= link_to "@collinschaafsma", "http://twitter.com/collinschaafsma"

  %article
    %a{ :name => 'jina_bolton' }
    %figure
      = image_tag "img_jina_bolton.jpg", alt: "Jina Bolton"
    .bio
      %hgroup
        %h1 Jina Bolton
      %p Jina is a user experience designer at Engine Yard. Previously, she worked as a visual interaction designer and front-end web developer for super rad companies including Crush + Lovely and Apple, Inc. Jina also founded and co-curates coffee art at Art in My Coffee. She enjoys creating beautiful experiences, and then she likes writing and speaking about it.

      %h2.title
        CSS Workflow with Sass
      %p.description
        Whether you're a freelancer working alone or on an enormous in-house team, having a good HTML & CSS workflow is incredibly rewarding and beneficial for good development, design, and business. Sass helps improve your workflow even further. Learn tips for smart, forward-thinking front end web development and maintainability.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Engine Yard", "http://www.engineyard.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jina", "http://twitter.com/jina"
        %dt.website Website:
        %dd= link_to "sushiandrobots.com", "http://sushiandrobots.com/"

  %article
    %a{ :name => 'dan_melnick' }
    %figure
      = image_tag "img_dan_melnick.jpg", alt: "Dan Melnick"
    .bio
      %hgroup
        %h1 Dan Melnick
      %p Dan Melnick is a software developer at Obtiva in Chicago, where he works every day to make the world a better place through developing kick ass software. In addition to his work actively developing software, he enjoys writing on the topic and its various implications and permutations on his blog. When he's not coding or writing, he's usually involved in various musical pursuits, including playing guitar and cluttering up his apartment with more records than he has time to listen to.

      %h2.title
        Building the Great Wall: API Driven Applications
      %p.description
        Most developers are familiar with the API driven architecture of Twitter, but few go so far as to develop their application the same way. By building a Great Wall between your business domain and the way users consume it, you separate your application into modular, isolated components with fewer interdependencies.
      %p.description
        In this talk Dan Melnick and Scott Parker explore both the advantages and drawbacks of creating an application as a Sinatra API that is consumed by SproutCore. We'll also discuss alternative paths to incorporate an API driven architecture with a number of other frameworks.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Obtiva", "http://www.obtiva.com/"
        %dt.twitter Twitter:
        %dd= link_to "@dan_melnick", "http://twitter.com/dan_melnick"
        %dt.website Website:
        %dd= link_to "dmelnick.com", "http://dmelnick.com/"

  %article
    %a{ :name => 'scott_parker' }
    %figure
      = image_tag "img_scott_parker.jpg", alt: "Scott Parker"
    .bio
      %hgroup
        %h1 Scott Parker
      %p Scott Parker is a Senior Consultant with Obtiva and is widely hailed as a "generally okay human." He's the co-founder of the Chicago Software Craftsmanship group where he has subjected people to a variety of strange and confusing experiences, and is hoping to extend that bafflement to educational institutions foolish enough to agree. Someday he's going to build a new programming language, but until then Scott likes him some Ruby, F#, and Clojure.

      %h2.title
        Building the Great Wall: API Driven Applications
      %p.description
        Most developers are familiar with the API driven architecture of Twitter, but few go so far as to develop their application the same way. By building a Great Wall between your business domain and the way users consume it, you separate your application into modular, isolated components with fewer interdependencies.
      %p.description
        In this talk Dan Melnick and Scott Parker explore both the advantages and drawbacks of creating an application as a Sinatra API that is consumed by SproutCore. We'll also discuss alternative paths to incorporate an API driven architecture with a number of other frameworks.


    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Obtiva", "http://www.obtiva.com/"
        %dt.twitter Twitter:
        %dd= link_to "@citizenparker", "http://twitter.com/citizenparker"
        %dt.website Website:
        %dd= link_to "spparker.com", "http://spparker.com/"

  %article
    %a{ :name => 'jon_larkowski' }
    %figure
      = image_tag "img_jon_larkowski.jpg", alt: "Jon Larkowski"
    .bio
      %hgroup
        %h1 Jon Larkowski
      %p Lark hit escape velocity launching from powerhouse Rails consultancy #{link_to "Hashrocket","http://www.hashrocket.com/"}, where he was an original member, eventually floating into a happy orbit at #{link_to "Picture of Health", "http://www.pictureofhealth.com/"}. You may know him from #{link_to "Hashrocket’s Book Club", "http://vimeo.com/album/179636"}, or their #{link_to "numerous videos", "http://vimeo.com/l4rk/videos/appears"}, or from speaking at a Ruby conference near you. He hails from scenic Chippewa Falls, Wisconsin, home of speedy Cray supercomputers and refreshing Leinenkugel’s beer. Lately, he’s into the raw side of food, the stretchy side of yoga, the heavy side of progressive metal, and the spinny side of ping pong. He holds an Electrical Engineering/Computer Science degree from the University of Wisconsin-Madison, though the only thing electrical he ever did was wire his parents’ garage. He codes for the forest, while pruning the trees.

      %h2.title
        Who, What, Where, When, Why, and How to Test
      %p.description
        We all believe in testing (right?). But, are we testing the right things in the right places with the right techniques? Testing is about risk management, return-on-investment, and opportunity cost vs. new features. The world of testing shifts fast. We'll cover what's up lately with various topics: when to unit test, when to use model/view/controllers tests vs. integration tests, Cucumber vs. Rails integration tests, and the powerful-but-underrated "clicking on stuff" technique.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Picture of Health", "http://www.pictureofhealth.com/"
        %dt.twitter Twitter:
        %dd= link_to "@l4rk", "http://twitter.com/l4rk"
        %dt.website Website:
        %dd= link_to "blog.l4rk.com", "http://blog.l4rk.com/"

  %article
    %a{ :name => 'jason_mccay' }
    %figure
      = image_tag "img_jason_mccay.png", alt: "Jason McCay"
    .bio
      %hgroup
        %h1 Jason McCay
      %p Jason is one of the co-founders of MongoHQ.com as well as a co-founder of CommonThread, a Rails consultancy. While his main passion lies in UI design and structure, he loves just creating products in general.

      %p Jason, his wife and his soon-to-be four children reside in Mountain View, CA, where he is making a go at MongoHQ full-time.

      %h2.title
        Software As A Service Panelist

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "MongoHQ", "http://www.mongohq.com/"
        %dt.twitter Twitter:
        %dd= link_to "@jasonmccay", "http://twitter.com/jasonmccay"
        %dt.website Website:
        %dd= link_to "jasonmccay.com", "http://jasonmccay.com"

  %article
    %a{ :name => 'rick_bradley' }
    %figure
      = image_tag "img_rick_bradley.jpg", alt: "Rick Bradley"
    .bio
      %hgroup
        %h1 Rick Bradley
      %p Rick is one of the problem children of O.G. Consulting, who, ironically, clean up other kids' ruby, domain, team, process, and business messes (but only if they're using ruby -- one must have standards, after all). Inventor of fibonacci indentation and the CANT chart, these days Rick fancies a nice whiskey_disk hacking session to blow off steam.

      %h2.title
        Free Whiskey
      %p.description
        #{'..._disk: for embarrassingly fast deployments'}

      %p.description
        In this talk I’ll discuss why in the world I would even remotely consider writing a(nother) capistrano replacement, how I justified it as an experiment with practical impact on our deployments, and how the experiment resulted in immediate payoffs. We’ll explore how looking at a problem of with fresh eyes changes the way we solve it. How insisting on doing the Simplest Thing That Could Work, and being religiously test-first (BDD) results in an incredibly fast and simple software. We'll discuss how we know when to add development overhead (git-flow management for releases, full end-to-end integration suites, formal issue tracking, etc.) as a project moves forward. Finally, we'll show you how to solve deployment issues you probably weren't even aware you had.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "O.G. Consulting", "http://www.ogtastic.com/"
        %dt.twitter Twitter:
        %dd= link_to "@rickbradley", "http://twitter.com/rickbradley"
        %dt.website Website:
        %dd= link_to "rickbradley.com", "http://rickbradley.com"

  %article
    %a{ :name => 'steve_klabnik' }
    %figure
      = image_tag "img_steve_klabnik.jpg", alt: "Steve Klabnik"
    .bio
      %hgroup
        %h1 Steve Klabnik
        %p
          Steve is a software craftsman, aspiring digital humanities scholar, and the maintainer of Hackety Hack and Shoes. He also started the 
          = link_to 'rstat.us', 'http://rstat.us'
          project.

      %p Steve is a writer, who happens to work in Ruby rather than English. Though he does contribute to five or six blogs, including Timeless with Magnus Holm and the Changelog, he avidly contributes to many open source projects. He's interested in applying the compositional and communication skills that the humanities offer to source code. Anyone can bang out software that works, but composing software that's well-crafted is a much different and more difficult endeavor.

      %p A large part of Steve's work focuses on education and software literacy, and so he's been running _why's Hackety Hack project for the last two years. Now at a 1.0 release, tens of thousands of prospective Rubyists have gotten their first taste of developing software. Closely related to Hackety Hack is Shoes, which is the best little GUI toolkit for Rubyists who want to create desktop applications.

      %p Finally, rstat.us is a microblogging platform written in Ruby. It's decentralized, distributed, and 100% open source. People who are sick of software sharecropping can run their own nodes, control their own data, and yet still participate in the social network. As we live more and more of our lives online, privacy, security, and control are incredibly important.

      %h2.title
        Literate Code

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@steveklabnik", "http://twitter.com/steveklabnik"
        %dt.website Website:
        %dd= link_to "steveklabnik.com", "http://steveklabnik.com"

  %article
    %a{ :name => 'rogelio_samour' }
    %figure
      = image_tag "img_rogelio_samour.jpg", alt: "Rogelio Samour"
    .bio
      %hgroup
        %h1 Rogelio Samour
      %p Born in El Salvador, Rogelio started tinkering with computers when his dad gave him a Tandy in the early Eighties. He received a degree from Arkansas Tech University in 2003 and is passionate about using Computer Science to solve complex problems. Things Ro thinks are rad: Vim, Ruby, Rails, Linux, “Seinfeld,” “Monk,” chess, and long walks on the beach (with his wife). He likes Middle Eastern cuisine and dislikes talking about himself in the third person.

      %h2.title
        A Convenient Truth (How To Configure Your Environment)

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Hashrocket", "http://hashrocket.com/"
        %dt.twitter Twitter:
        %dd= link_to "@therubymug", "http://twitter.com/therubymug"
        %dt.website Website:
        %dd= link_to "http://blog.therubymug.com", "http://blog.therubymug.com"

  %article
    %a{ :name => 'charles_nutter' }
    %figure
      = image_tag "img_charles_nutter.jpg", alt: "Charles Oliver Nutter"
    .bio
      %hgroup
        %h1 Charles Oliver Nutter
      %p Charles Oliver Nutter works at Engine Yard on the JRuby project. He has been a JRuby co-lead since 2006, helping to make JRuby an outstanding Ruby implementation. Charles believes the JVM is the best runtime for new languages, and along with JRuby, he launched the Mirah programming language, and continues to work to improve the state of language development on the JVM.

      %h2.title
        What Makes JRuby Different?
      %p.description
        Of course JRuby is an excellent implementation of Ruby, but what makes it different from others? This talk will explore a few unique features of JRuby, like its integration with other JVM languages, tools inherited from the Java platform, and the powerful features of the JVM itself. You'll learn why JRuby is unique among Ruby implementations, and how you can use it to your advantage.

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "EngineYard", "http://engineyard.com/"
        %dt.twitter Twitter:
        %dd= link_to "@headius", "http://twitter.com/headius"
        %dt.website Website:
        %dd= link_to "http://blog.headius.com", "http://blog.headius.com"

  %article
    %a{ :name => 'steven_bristol' }
    %figure
      = image_tag "img_steven_bristol.jpg", alt: "Steven Bristol"
    .bio
      %hgroup
        %h1 Steven Bristol
      %p
        A bit more about Steve
        %ul
          %li
            Wrote his first program at the age of nine using BASIC.
          %li
            Has written lots and lots of code using lots of languages.
          %li
            Loves Ruby on Rails.
          %li
            Is a Core Contributor to the Rails Framework.
          %li
            Has contributed to several other open source projects.
          %li
            Has led teams of software engineers for over 14 years.
          %li
            Was a mentor in the 2007 Google Summer of Code.
          %li
            Has gone over 150 miles per hour with his knee on the ground while racing motorcycles.
          %li
            Has three children.
          %li
            He can divide by zero.

      %h2.title
        Software As A Service Moderator

      %h2.title
        Testing Panel Moderator

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "LessEverything", "http://lesseverything.com/"
        %dt.twitter Twitter:
        %dd= link_to "@stevenbristol", "http://twitter.com/stevenbristol"
        %dt.website Website:
        %dd= link_to "http://b.lesseverything.com", "http://b.lesseverything.com"

  %article
    %a{ :name => 'robert_pitts' }
    %figure
      = image_tag "img_robert_pitts.jpg", alt: "Robert Pitts"
    .bio
      %hgroup
        %h1 Robert Pitts
      %p Robert[rbxbx] enjoys cats, aspartame, and hipster rubbish (but not that). He is currently having difficulties dealing with being a sellout fatcat, however 27" iMacs and new shoes are helping ease the transition. He’s run a hardcore DIY underground (mostly) electronic net-label for around 6 years now, before Radiohead and NIN ‘revolutionized’ free music in the digital age. Merrr. Originally became interested in web-programming as a matter of utility, due to realizing the importance of a strong net-presence early on. From there, an interest in the MAX/MSP programming environment took that to another level, which finally culminated in programming bliss upon discovering _why(rip)’s Poignant Guide to Ruby (and thusly the Ruby programming language). There’s been no looking back since then as being able to turn one’s interests into a career is quite rare and amazing. Huzzah. You can find him arguing with your girlfriend at the local pub about her horrible taste in music. Hah hah, only serious.

      %h2.title
        Conference Co-host

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Hashrocket", "http://hashrocket.com/"
        %dt.twitter Twitter:
        %dd= link_to "@rbxbx", "http://twitter.com/rbxbx"
        %dt.website Website:
        %dd= link_to "http://rbxbx.tumblr.com", "http://rbxbx.tumblr.com"

  %article
    %a{ :name => 'sven_fuchs' }
    %figure
      = image_tag "img_sven_fuchs.jpg", alt: "Sven Fuchs"
    .bio
      %hgroup
        %h1 Sven Fuchs
      %p Sven Fuchs, pronounced [sfɛn fʊks], is an experienced software developer and open-source enthusiast currently based in Berlin.

      %p While focusing on Ruby/Rails development for the last four years, he published a good number of Ruby and Rails projects, tools and libraries. Consistently amongst the top 30 on Rails-ranking sites, Sven is probably best known for leading the Ruby I18n project, the Ruby gem that is shipped with Rails to provide internationalization support.

      %p Together with Josh Kalderimis, he now leads the Travis CI project, an open-source continuous integration service for the Ruby community. The product will revolutionize the way you deal with testing your code.

      %h2.title
        TravisCI: Continuously Integrating The OSS Community

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@svenfuchs", "http://twitter.com/svenfuchs"
        %dt.website Website:
        %dd= link_to "http://svenfuchs.com", "http://svenfuchs.com"

  %article
    %a{ :name => 'josh_kalderimis' }
    %figure
      = image_tag "img_josh_kalderimis.jpg", alt: "Josh Kalderimis"
    .bio
      %hgroup
        %h1 Josh Kalderimis
      %p Josh is a top-30 Ruby on Rails contributor and has been working with the framework since 2008. He maintains a bunch of open-source Ruby projects, including multi_json, linkedin, faraday_middleware and his own completeness-fu. He's also one of Amsterdam.rb's organizers, and an interregnal part of the core Travis-CI team.

      %h2.title
        TravisCI: Continuously Integrating The OSS Community

    %aside
      %dl
        %dt.twitter Twitter:
        %dd= link_to "@joshkalderimis", "http://twitter.com/joshkalderimis"
        %dt.website Website:
        %dd= link_to "http://blog.cookiestack.com", "http://blog.cookiestack.com"

  %article
    %a{ :name => 'brad_grzesiak' }
    %figure
      = image_tag "img_brad_grzesiak.png", alt: "Brad Grzesiak"
    .bio
      %hgroup
        %h1 Brad Grzesiak

      %h2.title
        The Ruby Environment

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Bendyworks", "http://bendyworks.com/"
        %dt.twitter Twitter:
        %dd= link_to "@listrophy", "http://twitter.com/listrophy"
        %dt.website Website:
        %dd= link_to "http://namingthingsishard.com", "http://namingthingsishard.com"

= render :partial => 'sponsors'
