- content_for :page_title do
  Sponsors - Helping Our Community - August 18-20, 2011 - Madison, WI

%section#sponsors
  %h1 Our Sponsors
  %a{ :name => 'getty_images' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Getty Images", "http://www.gettyimages.com/"
        %dt.twitter Twitter:
        %dd= link_to "@gettyimages", "http://twitter.com/gettyimages"
        %dt.website Website:
        %dd= link_to "gettyimages.com", "http://www.gettyimages.com"

    = image_tag "logo_getty_images.png", alt: "Getty Images"
    .bio
      %hgroup
        %h1 Getty Images

  %a{ :name => 'the_frontier_group' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "The Frontier Group", "http://www.thefrontiergroup.com.au/"
        %dt.twitter Twitter:
        %dd= link_to "@frontiergroup", "http://twitter.com/frontiergroup"
        %dt.website Website:
        %dd= link_to "thefrontiergroup.com.au", "http://www.thefrontiergroup.com.au/"

    = image_tag "logo_frontier-group.gif", alt: "The Frontier Group"
    .bio
      %hgroup
        %h1 The Frontier Group

  %a{ :name => 'relevance' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Relevance", "http://www.thinkrelevance.com/"
        %dt.twitter Twitter:
        %dd= link_to "@thinkrelevance", "http://twitter.com/thinkrelevance"
        %dt.website Website:
        %dd= link_to "thinkrelevance.com", "http://www.thinkrelevance.com/"

    = image_tag "logo_relevance.png", alt: "Relevance"
    .bio
      %hgroup
        %h1 Relevance

  %a{ :name => 'harvest' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Harvest", "http://www.getharvest.com/"
        %dt.twitter Twitter:
        %dd= link_to "@harvest", "http://twitter.com/harvest"
        %dt.website Website:
        %dd= link_to "getharvest.com", "http://www.getharvest.com/"

    = image_tag "logo_harvest.jpg", alt: "Harvest"
    .bio
      %hgroup
        %h1 Harvest

  %a{ :name => 'zencoder' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Zencoder", "http://www.zencoder.com/"
        %dt.twitter Twitter:
        %dd= link_to "@zencoderinc", "http://twitter.com/zencoderinc"
        %dt.website Website:
        %dd= link_to "zencoder.com", "http://www.zencoder.com/"

    = image_tag "logo_zencoder.png", alt: "Zencoder"
    .bio
      %hgroup
        %h1 Zencoder

  %a{ :name => 'peepcode' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Peepcode", "http://www.peepcode.com/"
        %dt.twitter Twitter:
        %dd= link_to "@peepcode", "http://twitter.com/peepcode"
        %dt.website Website:
        %dd= link_to "peepcode.com", "http://www.peepcode.com/"

    = image_tag "logo_peepcode.png", alt: "Peepcode"
    .bio
      %hgroup
        %h1 Peepcode

  %a{ :name => 'stickermule' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Sticker Mule", "http://www.stickermule.com/"
        %dt.twitter Twitter:
        %dd= link_to "@stickermule", "http://twitter.com/stickermule"
        %dt.website Website:
        %dd= link_to "stickermule.com", "http://www.stickermule.com/"

    = image_tag "logo_stickermule.png", alt: "Sticker Mule"
    .bio
      %hgroup
        %h1 Sticker Mule

