- content_for :page_title do
  Sponsors - Helping Our Community - August 18-20, 2011 - Madison, WI

%section#sponsors
  %h1 Our Sponsors
  %a{ :name => 'getty_images' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Getty Images", "http://www.gettyimages.com/"
        %dt.twitter Twitter:
        %dd= link_to "@gettyimages", "http://twitter.com/gettyimages"
        %dt.website Website:
        %dd= link_to "gettyimages.com", "http://www.gettyimages.com"

    = image_tag "logo_getty_images.png", alt: "Getty Images"
    .bio
      %hgroup
        %h1 Getty Images

      %p
        Today's digital media offers us powerful and seemingly endless ways to create, communicate and connect. And while quick online access to images, footage and music may be second nature to us now, just a decade ago it was almost unimaginable.

      %p
        As a leading creator and distributor of still imagery, footage, music and other premium content, our goal is to inspire communicators - and give them the tools to create inspiring work of their own.

      %p
        We offer the industry's best and broadest collections of imagery and footage - including award-winning news, sport and entertainment content, plus rare and contemporary archival imagery. Our music collection provides a wide range of pre-cleared tracks from independent artists, chart-topping acts and popular soundtracks.

      %p
        From multi-million-dollar advertisers to leading newspapers, feature film and television producers to bloggers of all kinds - for premium digital content, the world's most influential media look to gettyimages.com.

  %a{ :name => 'bendyworks' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Bendyworks", "http://www.bendyworks.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bendyworks", "http://twitter.com/bendyworks"
        %dt.website Website:
        %dd= link_to "bendyworks.com", "http://www.bendyworks.com/"

    = image_tag "logo_bendyworks.png", alt: "Bendyworks"
    .bio
      %hgroup
        %h1 Bendyworks

      %p
        At Bendyworks, we are passionate about the art of crafting software. We live for producing elegant and robust solutions to difficult problems using the most advanced web application tools available.

  %a{ :name => 'the_frontier_group' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "The Frontier Group", "http://www.thefrontiergroup.com.au/"
        %dt.twitter Twitter:
        %dd= link_to "@frontiergroup", "http://twitter.com/frontiergroup"
        %dt.website Website:
        %dd= link_to "thefrontiergroup.com.au", "http://www.thefrontiergroup.com.au/"

    = image_tag "logo_frontier-group.gif", alt: "The Frontier Group"
    .bio
      %hgroup
        %h1 The Frontier Group

      %p
        Sick of web companies that just don’t seem to get it? We get it! The Frontier Group is a passionate web design and web development company that listens, and then delivers a cost-effective solution for you or your business.

  %a{ :name => 'relevance' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Relevance", "http://www.thinkrelevance.com/"
        %dt.twitter Twitter:
        %dd= link_to "@thinkrelevance", "http://twitter.com/thinkrelevance"
        %dt.website Website:
        %dd= link_to "thinkrelevance.com", "http://www.thinkrelevance.com/"

    = image_tag "logo_relevance.png", alt: "Relevance"
    .bio
      %hgroup
        %h1 Relevance
      %p
        Deliver releasable software at week 1, and 2, and 3, ..., and *every* step of the way.

  %a{ :name => 'harvest' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Harvest", "http://www.getharvest.com/"
        %dt.twitter Twitter:
        %dd= link_to "@harvest", "http://twitter.com/harvest"
        %dt.website Website:
        %dd= link_to "getharvest.com", "http://www.getharvest.com/"

    = image_tag "logo_harvest.jpg", alt: "Harvest"
    .bio
      %hgroup
        %h1 Harvest

      %p
        Harvest lets you and your staff track time and send invoices from one integrated application. Get set up in just a few minutes and instantly start tracking time and invoicing your clients. Contractor and employee timesheet and timesheet approval is included. Use Harvest's visual reports to see the distribution of your company's resources at a glance. Create an online invoice and easily bill your client. Get paid faster by collecting online payments from your clients instantly and securely via the web. Give Harvest a try today to lower your payroll costs and improve your business today.

  %a{ :name => 'newrelic' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "newrelic", "http://www.newrelic.com/"
        %dt.twitter Twitter:
        %dd= link_to "@newrelic", "http://twitter.com/newrelic"
        %dt.website Website:
        %dd= link_to "newrelic.com", "http://www.newrelic.com/"

    = image_tag "logo_newrelic.png", alt: "New Relic"
    .bio
      %hgroup
        %h1 New Relic

      %p
        New Relic is the only dashboard you need to keep an eye on application health and availability while monitoring real user experience. Use the tool thousands of developers turn to and get immediate insight from the end user's behavior down to the line of code. Performance management has never been so easy.

  %a{ :name => 'zencoder' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Zencoder", "http://www.zencoder.com/"
        %dt.twitter Twitter:
        %dd= link_to "@zencoderinc", "http://twitter.com/zencoderinc"
        %dt.website Website:
        %dd= link_to "zencoder.com", "http://www.zencoder.com/"

    = image_tag "logo_zencoder.png", alt: "Zencoder"
    .bio
      %hgroup
        %h1 Zencoder

      %p
        Easy-to-use, blazing fast video encoding for your app.

  %a{ :name => 'peepcode' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Peepcode", "http://www.peepcode.com/"
        %dt.twitter Twitter:
        %dd= link_to "@peepcode", "http://twitter.com/peepcode"
        %dt.website Website:
        %dd= link_to "peepcode.com", "http://www.peepcode.com/"

    = image_tag "logo_peepcode.png", alt: "Peepcode"
    .bio
      %hgroup
        %h1 Peepcode

  %a{ :name => 'stickermule' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Sticker Mule", "http://www.stickermule.com/"
        %dt.twitter Twitter:
        %dd= link_to "@stickermule", "http://twitter.com/stickermule"
        %dt.website Website:
        %dd= link_to "stickermule.com", "http://www.stickermule.com/"

    = image_tag "logo_stickermule.png", alt: "Sticker Mule"
    .bio
      %hgroup
        %h1 Sticker Mule

      %p
        Sticker Mule is the simplest way to order custom stickers. Upload your artwork, choose a size and shape, and they’ll send you a free online proof. They aspires to be every Ruby developers favorite sticker printer.

