- content_for :page_title do
  Sponsors - Helping Our Community - August 23-25, 2012 - Madison, WI

%h2.call_attention
  We still have opportunities available for you to gain exposure and enhance the conference for attendees.
  %br
  %br
  = link_to "Apply to be a sponsor!", apply_to_be_a_sponsor_path

%br

%section#sponsors
  %h1 Our Sponsors

  %a{ :name => 'bendyworks' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Bendyworks", "http://www.bendyworks.com/"
        %dt.twitter Twitter:
        %dd= link_to "@bendyworks", "http://twitter.com/bendyworks"
        %dt.website Website:
        %dd= link_to "bendyworks.com", "http://www.bendyworks.com/"

    = image_tag "logo_bendyworks.png", alt: "Bendyworks"
    .bio
      %hgroup
        %h1 Bendyworks

      %p
        At Bendyworks, we are passionate about the art of crafting software. We live for producing elegant and robust solutions to difficult problems using the most advanced web application tools available.

  %a{ :name => 'engine_yard' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Engine Yard", "http://www.engineyard.com/"
        %dt.twitter Twitter:
        %dd= link_to "@engineyard", "http://twitter.com/engineyard"
        %dt.website Website:
        %dd= link_to "engineyard.com", "http://www.engineyard.com"

    = image_tag "logo_engine-yard.png", alt: "Engine Yard"
    .bio
      %hgroup
        %h1 Engine Yard

      %p
        Engine Yard is the leading development and deployment platform for the cloud. With a unique combination of Ruby on Rails expertise, operations automation, open source community involvement, and world-class service, Engine Yard empowers businesses to build and run cloud-based applications easily and cost-effectively. Thousands of customers, from explosive-growth Web startups to Fortune 500 enterprises, trust Engine Yard for fast deployment, rapid scaling, high performance, and 24×7 uptime, allowing them to leverage Rails agility for competitive advantage. Headquartered in San Francisco, Calif., Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com.

      %p
        We’re headquartered in San Francisco, California, but have teams located across the United States and around the world.

  %a{ :name => 'getty_images' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Getty Images", "http://www.gettyimages.com/"
        %dt.twitter Twitter:
        %dd= link_to "@gettyimages", "http://twitter.com/gettyimages"
        %dt.website Website:
        %dd= link_to "gettyimages.com", "http://www.gettyimages.com"

    = image_tag "logo_getty_images.png", alt: "Getty Images"
    .bio
      %hgroup
        %h1 Getty Images

      %p
        Today's digital media offers us powerful and seemingly endless ways to create, communicate and connect. And while quick online access to images, footage and music may be second nature to us now, just a decade ago it was almost unimaginable.

      %p
        As a leading creator and distributor of still imagery, footage, music and other premium content, our goal is to inspire communicators - and give them the tools to create inspiring work of their own.

      %p
        We offer the industry's best and broadest collections of imagery and footage - including award-winning news, sport and entertainment content, plus rare and contemporary archival imagery. Our music collection provides a wide range of pre-cleared tracks from independent artists, chart-topping acts and popular soundtracks.

      %p
        From multi-million-dollar advertisers to leading newspapers, feature film and television producers to bloggers of all kinds - for premium digital content, the world's most influential media look to gettyimages.com.

  %a{ :name => 'groupon' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Groupon", "http://engineering.groupon.com/"
        %dt.twitter Twitter:
        %dd= link_to "@groupon", "http://twitter.com/groupon"
        %dt.website Website:
        %dd= link_to "groupon.com", "http://engineering.groupon.com/"

    = image_tag "logo_groupon.png", alt: "Groupon"
    .bio
      %hgroup
        %h1 Groupon

      %p
        Groupon’s pioneering social commerce platform is one of the largest Rails applications in the world. We have openings for Software Engineers (Ruby on Rails, Java), Data Scientists, and other creators of technological awesomeness, from apprentice through master, to join Groupon’s Silicon Valley or downtown Chicago R&D centers.

      %p
        We have a proven commitment to the fastest possible turnaround for our customers, we believe in short iterations, and we have direct involvement with the business. We also believe in well-thought, high-scale architectures and fostering our internal culture of quality and craftsmanship. We aim to achieve both rocket science and rocket speed. Aided by our pragmatic agile development culture, we’ve become one of the fastest-growing internet businesses in history. Visit:
        = link_to "http://www.groupon.com/techjobs", "http://www.groupon.com/techjobs"
        for more info.

  %a{ :name => 'tropo' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Tropo", "http://www.tropo.com/"
        %dt.twitter Twitter:
        %dd= link_to "@tropo", "http://twitter.com/tropo"
        %dt.website Website:
        %dd= link_to "tropo.com", "http://www.tropo.com/"

    = image_tag "logo_tropo.png", alt: "Tropo"
    .bio
      %hgroup
        %h1 Tropo

      %p
        Tropo makes it simple to build phone, SMS and Instant messaging applications. You use the web technologies you already know and Tropo's powerful cloud API to bring real-time communications to your apps.

  %a{ :name => 'brighter_planet' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Brighter Planet", "http://www.brighterplanet.com/"
        %dt.twitter Twitter:
        %dd= link_to "@brighterplanet", "http://twitter.com/brighterplanet"
        %dt.website Website:
        %dd= link_to "brighterplanet.com", "http://www.brighterplanet.com/"

    = image_tag "logo_brighter_planet.png", alt: "Brighter Planet"
    .bio
      %hgroup
        %h1 Brighter Planet

      %p
        Brighter Planet is the leading provider of real-time carbon emissions data, allowing businesses and consumers to operate more efficiently, save money and create a cleaner environment. Using the most sophisticated carbon calculations available, Brighter Planet has enabled more U.S. consumers and corporations to reduce their carbon footprints than any other company, preventing hundreds of millions of pounds of emissions each year. The Vermont-based firm has received the Financial Times' Social Innovation Award, was named Discovery Channel's "Best Small Business" and is consistently rated highest in its field by independent reviewers.

  %a{ :name => 'dnsimple' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "DNSimple", "http://www.dnsimple.com/"
        %dt.twitter Twitter:
        %dd= link_to "@dnsimple", "http://twitter.com/dnsimple"
        %dt.website Website:
        %dd= link_to "dnsimple.com", "http://www.dnsimple.com/"

    = image_tag "logo_dnsimple.png", alt: "DNSimple"
    .bio
      %hgroup
        %h1 DNSimple

        %p DNSimple is a hosted DNS service that you can use to manage your domains. Plans start at $3 per month. We offer both a web-based interface and an iPhone application for adding and removing domains and DNS records as well as an HTTP API and command-line tool.

  %a{ :name => 'lessfilms' }
  %article
    %aside
      %dl
        %dt.company Company:
        %dd= link_to "LessFilms", "http://www.lessfilms.com/"
        %dt.twitter Twitter:
        %dd= link_to "@lessfilms", "http://twitter.com/lessfilms"
        %dt.website Website:
        %dd= link_to "lessfilms.com", "http://www.lessfilms.com/"

    = image_tag "logo_lessfilms.png", alt: "LessFilms"
    .bio
      %hgroup
        %h1 LessFilms

        %p We're easy to work with as long as you go along with all of our ideas and never give us any lip. Just sit back and let us create something awesome for you. In all seriousness, telling the world about this incredible thing that your doing is what we live for. You wouldn't want us to stop living would you? Contact us right now. We are dying to hear all about you.
