!!! 5
%html(lang="en-US")
  %head
    %title Madison Ruby
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = yield :head

    %script{:type=>"text/javascript", :src=>"http://use.typekit.com/uob4zuw.js"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    %header
      %section
        %h1= link_to "Madison Ruby", "/"
        %nav
          %ul
            %li= link_to "Home", home_path
            %li= link_to "Speakers", speakers_path
            %li.register= link_to "Register", "http://madison-ruby.chirrpy.com/"
        %p
          %mark(data-after_content="$") August 18-20, 2011
          Madison, WI
    #masthead
      .register
        %h1 Madision Ruby Conference
        %p
          Discover a hidden
          %strong gem
          in Madison, Wisconsin
        = link_to "http://madison-ruby.chirrpy.com/" do
          %span Register Now
        -# %p.price $350
    #content
      = yield

    %footer
      %p!= "Copyright &copy; 2011 Madison Ruby Conference"
