!!! 5
%html(lang="en-US")
  %head
    %title
      = yield :page_title
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery'
    = include_fancy_box
    = yield :head

    %script{:type=>"text/javascript", :src=>"http://use.typekit.com/uob4zuw.js"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    %header
      %section
        %h1= link_to "Madison Ruby", "/"
        %nav
          %ul
            %li= link_to "Home", '/'
            %li= link_to "Speakers", speakers_path
            %li= link_to "Schedule", schedule_path
            %li= link_to "Sponsors", sponsors_path
            %li= link_to "Travel", travel_path
            %li.register= link_to "Register", "http://sapling.wufoo.com/forms/madison-ruby-2012-registration-form/"
        %p
          %mark(data-after_content="$") Workshops - August 23, 2012
          %mark(data-after_content="$") Conference - August 24-25, 2012
          Madison, WI
    #masthead
      .register
        %h1 Madision Ruby Conference
        %p
          Discover a hidden
          %strong gem
          in Madison, Wisconsin
        = link_to "http://sapling.wufoo.com/forms/madison-ruby-2012-registration-form/" do
          %span Register Now
        -# %p.price $350
    #content
      = yield

    %footer
      %p
        != "Copyright &copy; 2011-2012 Madison Ruby Conference &mdash; "
        = mail_to "contact@madisonruby.org"

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

      try{
      var pageTracker = _gat._getTracker("UA-17866845-1");
      pageTracker._trackPageview();
      } catch(err) {}

      var woo_settings = {idle_timeout:'300000', domain:'madisonruby.org'};
      var woo_actions = [{type:'pageview',url:window.location.pathname+window.location.search,title:document.title}];
      (function(){
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
      })();
